{% extends "base.html" %}
{% load serversearch %}

{% block title %}Hardware Resources{% endblock %}

{% block content %}
<h2>Hardware Resources</h2>

<form method="get" action="{% url 'resources_index' %}">
<table class="valign-middle">
<tr>
    <th>Graph collection</th>
    <td>
    <select id="collection_short" name="current_collection">
    <option value="">- all -</option>
    {% for collection in collections %}
        <option value="{{ collection.id }}" {% if collection.id == current_collection %}selected{% endif %}>{{ collection.name }}</option>
    {% endfor %}
    </select>
    </td>
</tr>
<tr>
    <th>Search</th>
    <td>
        <input type="text" size="60"  id="monitor_search" name="term"
            value="{{ search_term }}" />
        <input type="submit" value="Go" />
    </td>
    <td rowspan="2" style="width:4em;">
    </td>
    <td rowspan="2" style="vertical-align:top;">
    <table class="valign-middle">

    </table>
    </td>
</tr>
<tr>
    <th>Understood</th>
    {% if error %}
    <td><span class="error">{{ error }}</span></td>
    {% else %}
    <td>{{ understood }}</td>
    {% endif %}
</tr>
</table>
</form>

{% if not error %}
<h3>Results</h3>
{% endif %}

{% if not hosts %}
<p>No servers matching your search query.</p>
{% elif not error %}
<table border="1">
    <tr>
        <th>Hardware host</th>
{% for column in columns %}
        <th>{{ column.name }}</th>
{% endfor %}
{% if guests %}
        <th>Guests</th>
{% endif %}
    </tr>
{% for hwhost in hosts %}
    <tr>
        <td>
            <p>
                <a href="{% url 'graphite_graph_table' %}?hostname={{ hwhost.hostname }}"
                   >{{ hwhost.hostname }}</a>
            </p>

            <p class="graph_servertype">({{ hwhost.servertype }})</p>
        </td>
{% for cell in hwhost.cells %}
        <td>
{% if cell.column.numeric_value %}
            {{ cell.value }}
{% else %}
            <a class="graph_sprite"
               style="background:url({{ STATIC_URL }}empty.png) -{{ cell.column.sprite_offset }}px 0;"
               data-hostname="{{ hwhost.hostname }}"
               data-graph="{{ cell.column.graph_index }}"
               data-image="{{ sprite_url }}/{{ hwhost.hostname }}.png"></a>
{% endif %}
        </td>
{% endfor %}

{% if guests %}
        <td>
{% for guest in hwhost.guests %}
            <a href="{% url 'graphite_graph_table' %}?hostname={{ guest }}"
               {% if guest in matched_hostnames  %}style="color:#d00;"{% endif %}
               >{{ guest }}</a>
{% endfor %}
        </td>
{% endif %}
    </tr>
{% endfor %}
</table>
{% endif %} {# else of if not error #}
{% endblock content %}

{% block additional_body %}
<script type="text/javascript" src="{{ STATIC_URL }}graphite/graphite.js"></script>
<script type="text/javascript">
var monitor_graph_popup_url = '{% url 'resources_graph_popup' %}';
$(function() {
    $('.graph_sprite').click(open_graph_popup);
    function update_sprites() {
        var threshold = 300;
        var sprites = $('.graph_sprite[data-image!=""]')
        for(var i = 0; i < sprites.length; i++) {
            var sprite = $(sprites[i]);
            var pos = sprite.offset().top - threshold;
            var height = $(window).scrollTop() + $(window).height();
            if (pos <= height) {
                var image = 'url(' + sprite.attr('data-image') + ')';
                sprite.css('background-image', image);
                sprite.attr('data-image', '');
            } else {
                break;
            }
        }
    }
    function insert_search() {
        var search_input = '';
        var stype = $('#servertype_short').val();
        if (stype) {
            search_input += 'servertype=' + stype + ' ';
        }
        $('#monitor_search').val(search_input).focus();
    }
    $('#servertype_short').change(insert_search);
    $(window).on('scroll', update_sprites);
    update_sprites();
});
</script>
{% serversearch_js 'monitor_search' %}
{% endblock %}
