{% extends "base.html" %}

{% block title %}Projects information{% endblock %}

{% block content %}
<h2>Projects information</h2>

<table class="tabular">
    <tr>
        <th>Project</th>
        <th>Subdomain</th>
        <th>Responsible Admin</th>
        <th>Servertypes</th>
        <th>Segments</th>
        <th>Total disk_size_gib</th>
        <th>Total memory</th>
        <th>Total num_cpu</th>
    </tr>

{% for project in projects %}
    <tr class="{% cycle 'row_a' 'row_b' %}">
        <td>
            <a href="{% url 'resources_index' %}?term=project%3D{{ project.project_id }}">{{ project.project_id }}</a>
        </td>

        <td>{{ project.subdomain }}</td>

        <td>{{ project.responsible_admin }}</td>

        <td>
{% for servertype, count in project.servertypes %}
            {{ servertype }}: 
            <a href="{% url 'servershell_index' %}?term=project={{ project.project_id }}+servertype={{ servertype }}">{{ count }}</a> 
{% endfor %}
        </td>

        <td>
{% for segment, count in project.segments %}
            {{ segment }}: 
            <a href="{% url 'servershell_index' %}?term=project={{ project.project_id }}+segment={{ segment }}">{{ count }}</a> 
{% endfor %}
        </td>

        <td>{{ project.disk_size_gib }}</td>

        <td>{{ project.memory }}</td>

        <td>{{ project.num_cpu }}</td>
    </tr>
{% endfor %}
</table>

{% endblock content %}
