{% extends "base.html" %}

{% block title %}Attributes{% endblock %}

{% block content %}
<h2>Attributes</h2>

<table class="tabular">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Multi</th>
{% if perms.serverdb.delete_attribute %}
        <th>Delete</th>
{% endif %}
    </tr>
{% for attr in attributes %}
    <tr class="{% cycle 'row_a' 'row_b' %}">
        <td>{{ attr.name }}</td>
        <td>{{ attr.get_type_display }}</td>
        <td>{{ attr.multi|yesno }}</td>
{% if perms.serverdb.delete_attribute %}
        <td>
        {% if attr.pk %}
            <a href="{% url 'serverdb_delete_attribute' attr.name %}">delete</a>
        {% else %}
        not deletable
        {% endif %}
        </td>
{% endif %}
    </tr>
{% endfor %}
</table>

{% if perms.serverdb.add_attribute %}
<p><a href="{% url 'serverdb_add_attribute' %}">Add attribute</a></p>
{% endif %}

{% endblock content %}
