{% extends "base.html" %}

{% load changes %}

{% block title %}Changes{% endblock %}

{% block content %}
<form id="changes-form" method="get" action="{% url 'serverdb_changes' %}" onsubmit="spinner.enable();">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Changes
                <small class="text-muted">(1 commit per row)</small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 controls">
            <div class="form-group row input-controls">
                <label for="from" class="col-sm-1 col-form-label">From:</label>
                <div class="col-md-4">
                    <input name="from" id="from" type="text" value="{% if from %}{{ from }}{% endif %}" class="form-control form-control-sm" placeholder="Human readable time like for example 7 days ago" />
                </div>
            </div>
            <div class="form-group row input-controls">
                <label for="until" class="col-sm-1 col-form-label">Until:</label>
                <div class="col-md-4">
                    <input name="until" id="until" type="text" value="{% if until %}{{ until }}{% endif %}" class="form-control form-control-sm" placeholder="Human readable time like for example 7 days ago" />
                </div>
            </div>
            <div class="form-group row input-controls">
                <label for="hostname" class="col-sm-1 col-form-label">Hostname:</label>
                <div class="col-md-4">
                    <input name="hostname" id="hostname" type="text" value="{% if hostname %}{{ hostname }}{% endif %}" class="form-control form-control-sm" placeholder="yy1w1.ox.ig.local" />
                </div>
            </div>
            <div class="form-group row input-controls">
                <label for="object_id" class="col-sm-1 col-form-label">Object ID:</label>
                <div class="col-md-4">
                    <input id="object_id" name="object_id" type="text" value="{% if object_id %}{{ object_id }}{% endif %}" class="form-control form-control-sm" placeholder="466880" />
                </div>
            </div>
            <div class="form-group row input-controls">
                <label for="user_or_app" class="col-sm-1 col-form-label">User/App:</label>
                <div class="col-md-4">
                    <input name="user_or_app" id="user_or_app" type="text" value="{% if user_or_app %}{{ user_or_app }}{% endif %}" class="form-control form-control-sm dropdown-toggle" data-toggle="dropdown" placeholder="daniel.kroeger" />
                    <div class="dropdown-menu">
                        {% for app in user_or_apps %}
                        <a class="dropdown-item">{{ app }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group row input-controls buttons">
                <input type="hidden" id="page" name="page" value="{{ commits.number }}" />
                <button class="btn btn-success" type="submit">Filter</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-striped table-bordered table-borderless">
                <thead>
                <tr>
                    <th>Commit</th>
                    <th>Date</th>
                    <th>Time Since</th>
                    <th>App</th>
                    <th>Owner</th>
                    <th>Created</th>
                    <th>Changed</th>
                    <th>Deleted</th>
                </tr>
                </thead>
                <tbody>
                {% for commit in commits %}
                    <tr>
                        <td>{{ commit.id }}</td>
                        <td>{{ commit.change_on|date:"r" }}</td>
                        <td>{{ commit.change_on|timesince }}</td>
                        <td>{{ commit.app|default:"Servershell" }}</td>
                        <td>{{ commit.user }}</td>
                        <td>
                            <ul>
                            {% for change in commit.change_set.get_queryset %}
                                {% if change.change_type == 'create' %}
                                    <li><a href="{% url 'serverdb_history' %}?commit_id={{ commit.id }}&object_id={{ change.object_id }}">View history of {{ change.hostname }}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                            {% for change in commit.change_set.get_queryset %}
                                {% if change.change_type == 'change' %}
                                    <li><a href="{% url 'serverdb_history' %}?commit_id={{ commit.id }}&object_id={{ change.object_id }}">View history of {{ change.hostname }}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                            {% for change in commit.change_set.get_queryset %}
                                {% if change.change_type == 'delete' %}
                                    <li><a href="{% url 'serverdb_restore' change.id %}">Restore object {{ change.hostname }}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "pagination.html" with page=commits form=True %}
        </div>
    </div>
</form>
{% endblock content %}
