{% extends "base.html" %}
{% load url from future %}
{% load serverdb %}

{% block title %}Changes{% endblock %}

{% block content %}
<h2>Changes</h2>
<table>
    <tr>
        <th>Change on</th>
        <th>User/App</th>
        <th>Deleted</th>
		<th>Added</th>
        <th>Changed</th>
    </tr>
{% for change in changes %}
    <tr>
        <td>{{ change.change_on|date }}</td>
        <td>
        {% if change.user %}
        {{ change.user.first_name }} {{ change.user.last_name }}
        {% else %}
        {{ change.app }}
        {% endif %}
        </td>
        {% with server_changes=change.changes %}
        <td>
        {% if server_changes.deleted %}
        {% for server_obj in server_changes.deleted %}
        <div class="changes_container">
        <h3>{{ server_obj.hostname }}</h3>
        {% format_server server_obj %}
		<form method="post" action="{% url 'serverdb_restore_deleted' change.pk %}">
		{% csrf_token %}
		<input type="hidden" name="hostname" value="{{ server_obj.hostname }}" />
		<p><input type="submit" value="restore" /></p>
		</form>
        </div>
        {% endfor %}
        {% else %}
        <i>Nothing deleted.</li>
        {% endif %}
        </td>
		<td>
		{% if server_changes.created %}
		<div class="changes_container">
		<h3>{{ server_changes.created.hostname }}</h3>
		{% format_server server_changes.created %}
		</div>
		{% else %}
		<i>Nothing created.</i>
		{% endif %}
        <td>
        {% if server_changes.changed %}
        {% for hostname, changes in server_changes.changed.iteritems %}
        <div class="changes_container">
        <h3>{{ hostname }}</h3>
        {% format_changes changes %}
        </div>
        {% endfor %}
        {% else %}
        <i>Nothing changed.</i>
        {% endif %}
        </td>
        {% endwith %}
    </tr>
{% endfor %}
</table>

<div class="pagination">
    Page:
    <span class="step-links">
        {% if changes.has_previous %}
            <a href="?page={{ changes.previous_page_number }}">&laquo;</a>
        {% endif %}
        <span class="current">
            {{ changes.number }}/{{ changes.paginator.num_pages }}
        </span>
        {% if changes.has_next %}
            <a href="?page={{ changes.next_page_number }}">&raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
