{% extends "base.html" %}

{% block title %}Changes{% endblock %}

{% block content %}
<h2>Changes</h2>
<table>
    <tr>
        <th>Change on</th>
        <th>User/App</th>
        <th>Deleted</th>
		<th>Added</th>
        <th>Changed</th>
    </tr>
{% for commit in commits %}
    <tr class="{% cycle 'row_a' 'row_b' %}">
        <td>{{ commit.change_on|date }}</td>
        <td>
		{% if commit.app %}
        {{ commit.app }}
        {% elif commit.user %}
        {{ commit.user.get_full_name }}
        {% else %}
		Internal code
        {% endif %}
        </td>
        
        <td>
        {% if commit.changedelete_set.count %}
        {% for change_del in commit.changedelete_set.all %}
        <ul class="nolist">
            <li><a href="{% url 'serverdb_history' %}?server_id={{ change_del.server_id }}&amp;commit={{ commit.id }}"
            >{{ change_del.server_id }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        </td>
		
        <td>
		{% if commit.changeadd_set.count %}
        <ul class="nolist">
        {% for change_add in commit.changeadd_set.all %}
            <li><a href="{% url 'serverdb_history' %}?server_id={{ change_add.server_id }}&amp;commit={{ commit.id }}"
            >{{ change_add.server_id }}</li>
        {% endfor %}
        </ul>
		{% endif %}
        </td>

        <td>
		{% if commit.changeupdate_set.count %}
        <ul class="nolist">
        {% for change_update in commit.changeupdate_set.all %}
            <li><a href="{% url 'serverdb_history' %}?server_id={{ change_update.server_id }}&amp;commit={{ commit.id }}"
            >{{ change_update.server_id }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

<div class="pagination">
    Page:
    <span class="step-links">
        {% if commits.has_previous %}
            <a href="?page={{ commits.previous_page_number }}">&laquo;</a>
        {% endif %}
        <span class="current">
            {{ commits.number }}/{{ commits.paginator.num_pages }}
        </span>
        {% if commits.has_next %}
            <a href="?page={{ commits.next_page_number }}">&raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
