<table>
    <tr>
        <th>Attribute</th>
        <th>Old/Removed</th>
        <th>New/Added</th>
    </tr>
{% for change in changes %}
    <tr>
        <td>{{ change.attr }}</td>
        {% if change.action == 'multi' %}
        <td>
        {% if change.remove %}
        <ul>
        {% for val in change.remove %}
            <li>{{ val }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <i>nothing removed</i>
        {% endif %}
        </td>
        <td>
        {% if change.add %}
        <ul>
        {% for val in change.add %}
            <li>{{ val }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <i>nothing added</i>
        {% endif %}
        </td>
        {% else %}
        <td>{{ change.old }}</td>
        <td>{{ change.new }}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
