{% extends "base.html" %}

{% block title %}History for {{ name }}{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/history.css"/>
{% endblock %}

{% block content %}
<form id="changes-form" method="get" action="{% url 'serverdb_history' %}">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>History for {{ name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 controls">
            <div class="form-group row input-controls">
                <label for="attribute_filter" class="col-sm-1 col-form-label">Attribute:</label>
                <div class="col-md-4">
                    <input name="attribute_filter" id="attribute_filter" type="text" value="{% if attribute_filter %}{{ attribute_filter }}{% endif %}" class="form-control form-control-sm" placeholder="e.g. hostname" />
                </div>
            </div>
            <div class="form-group row input-controls buttons">
                <input type="hidden" id="object_id" name="object_id" value="{{ object_id }}"/>
                <button class="btn btn-success" type="submit">Filter</button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <table id="history" class="table table-sm table-striped table-bordered table-borderless">
                <thead>
                    <tr>
                        <th>Commit</th>
                        <th>Date</th>
                        <th>Time Since</th>
                        <th>App</th>
                        <th>Owner</th>
                        <th>Attribute</th>
                        <th>New/Added</th>
                        <th>Old/Removed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for change in changes %}
                        {% if change.change_type == 'create' %}
                            {% for key, value in change.change_json.items %}
                                {% if not attribute_filter or attribute_filter == key %}
                                <tr>
                                    <td>{{ change.commit.id }}</td>
                                    <td>{{ change.commit.change_on|date:"r" }}</td>
                                    <td>{{ change.commit.change_on|timesince }}</td>
                                    <td>{{ change.commit.app|default:"Servershell" }}</td>
                                    <td>{{ change.commit.user }}</td>
                                    <td>{{ key }}:</td>
                                    <td>
                                        {% if value is list %}
                                            <ul>
                                                {% for val in value %}
                                                <li>{{ value }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </td>
                                    <td>-</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% elif change.change_type == 'change' %}
                            {% for key, value in change.change_json.items %}
                                {% if key != 'object_id' %}
                                    {% if not attribute_filter or attribute_filter == key %}
                                        <tr>
                                            <td>{{ change.commit.id }}</td>
                                            <td>{{ change.commit.change_on|date:"r" }}</td>
                                            <td>{{ change.commit.change_on|timesince }}</td>
                                            <td>{{ change.commit.app|default:"Servershell" }}</td>
                                            <td>{{ change.commit.user }}</td>
                                            <td>{{ key }}</td>
                                            {% if value.action == 'multi' %}
                                                {% if value.add %}
                                                    <td>
                                                        <ul>
                                                            {% for val in value.add %}
                                                            <li>{{ val }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                {% if value.remove %}
                                                    <td>
                                                        <ul>
                                                            {% for val in value.remove %}
                                                            <li>{{ val }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            {% else %}
                                                <td>{{ value.new }}</td>
                                                <td>{{ value.old }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% elif change.change_type == 'delete' %}
                            <tr class="">
                                <td>{{ change.commit.id }}</td>
                                <td>{{ change.commit.change_on|date:"r" }}</td>
                                <td>{{ change.channge_commit.change_on|timesince }}</td>
                                <td>{{ change.commit.app|default:"Servershell" }}</td>
                                <td>{{ change.commit.user }}</td>
                                <td>
                                    <form method="post" action="{% url 'serverdb_restore_deleted' change.commit.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="object_id" value="{{ change.server_id }}" />
                                        <input class="btn btn-sm btn-danger" type="submit" value="Restore this server" />
                                    </form>
                                </td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% if commit_id %}
                <a href="{% url 'serverdb_history' %}?object_id={{ object_id }}">Show complete history</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "pagination.html" with page=changes form=True %}
        </div>
    </div>
</form>
{% endblock %}

