{% extends "base.html" %}

{% block title %}History for {{ name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>History for {{ name }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% for type, change in change_list %}
            {% if type == 'add' %}
                <strong>Added {{ change.commit.change_on|date:"r" }} ({{ change.commit.change_on|timesince }}) by {{ change.commit.user }}</strong>
                <table class="table table-sm table-striped table-bordered table-borderless">
                    <tbody>
                        {% for key, value in change.attributes.items %}
                        <tr>
                            <th>{{ key }}:</th>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif type == 'update' %}
                <strong>Changed {{ change.commit.change_on|date:"r" }} ({{ change.commit.change_on|timesince }}) by {{ change.commit.user }}</strong>
                <table class="table table-sm table-striped table-bordered table-borderless">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Old/Removed</th>
                            <th>New/Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in change.updates.items %}
                        {% if key != 'object_id' %}
                            <tr>
                                <td>{{ key }}</td>
                                {% if value.action == 'multi' %}
                                <td>
                                    {% if value.remove %}
                                        <ul>
                                        {% for val in value.remove %}
                                            <li>{{ val }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <i>nothing removed</i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if value.add %}
                                    <ul>
                                    {% for val in value.add %}
                                        <li>{{ val }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% else %}
                                        <i>nothing added</i>
                                    {% endif %}
                                </td>
                                {% else %}
                                    <td>{{ value.old }}</td>
                                    <td>{{ value.new }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% elif type == 'delete' %}
                <strong>Deleted {{ change.commit.change_on|date:"r" }} ({{ change.commit.change_on|timesince }}) by {{ change.commit.user }}</strong>
                <form method="post" action="{% url 'serverdb_restore_deleted' change.commit.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="object_id" value="{{ change.server_id }}" />
                    <input class="btn btn-sm btn-danger" type="submit" value="Restore this server" />
                </form>
            {% endif %}
        {% endfor %}
        {% if commit_id %}
            <a href="{% url 'serverdb_history' %}?object_id={{ object_id }}">Show complete history</a>
        {% endif %}
    </div>
</div>

{% endblock %}
