{% extends base_template %}

{% block title %}History for #{{ server_id }}{% endblock %}

{% block content %}
{% if not is_ajax %}
<h2>History for #{{ server_id }}</h2>
{% endif %}

{% if is_ajax %}
<p><a href="{{ link }}">
    <img src="{{ STATIC_URL }}link.png" alt="Link to this page" 
		title="Link to this page" />
</a></p>
{% endif %}

{% for type, change in change_list %}

{% if type == 'add' %}
<h3>Added server on {{ change.commit.change_on|date:"DATETIME_FORMAT" }}
by {{ change.commit.commit_by }}</h3>
<table>
{% for key, value in change.attributes.items %}
    <tr>
        <th>{{ key }}:</th>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>

<form method="post" action="{% url 'serverdb_restore_deleted' change.commit.id %}">
{% csrf_token %}
<input type="hidden" name="server_id" value="{{ change.server_id }}" />
<p><input type="submit" value="Restore this server" /></p>
</form>
{% elif type == 'update' %}
<h3>Changed attributes on {{ change.commit.change_on|date:"DATETIME_FORMAT" }}
by {{ change.commit.commit_by }}</h3>
<table>
    <tr>
        <th>Attribute</th>
        <th>Old/Removed</th>
        <th>New/Added</th>
    </tr>
{% for key, value in change.updates.items %}
{% if key != 'object_id' %}
    <tr>
        <td>{{ key }}</td>
    {% if value.action == 'multi' %}
        <td>
        {% if value.remove %}
        <ul>
        {% for val in value.remove %}
            <li>{{ val }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <i>nothing removed</i>
        {% endif %}
        </td>
        <td>
        {% if value.add %}
        <ul>
        {% for val in value.add %}
            <li>{{ val }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <i>nothing added</i>
        {% endif %}
        </td>
    {% else %}
        <td>{{ value.old }}</td>
        <td>{{ value.new }}</td>
    {% endif %}
    </tr>
{% endif %}
{% endfor %}
</table>
{% elif type == 'delete' %}
<h3>Deleted server on {{ change.commit.change_on|date:"DATETIME_FORMAT" }}
by {{ change.commit.commit_by }}</h3>
{% endif %}
{% endfor %}

{% if commit_id %}
<p><a href="{% url 'serverdb_history' %}?server_id={{ server_id }}">Show complete history</a></p>
{% endif %}

{% endblock %}
