{% extends "base.html" %}

{% block title %}
{% if edit %}
{% else %}
Add attribute to servertype {{ servertype }}
{% endif %}
{% endblock %}

{% block content %}
{% if edit %}
<h2>Edit attribute {{ attrib }} of servertype {{ servertype }}</h2>
{% else %}
<h2>Add attribute to servertype {{ servertype }}</h2>
{% endif %}
<form method="post" action="">
{% csrf_token %}
<table class="valign-middle">
{{ form }}
</table>
<p>
    <a href="{% url 'serverdb_view_servertype' servertype.pk %}">Cancel</a>&nbsp;
    <input type="submit" value="{% if edit %}Edit {{ attrib }}{% else %}Add attribute{% endif %}" />
    </p>
</form>
{% endblock content %}
