{% extends "base.html" %}

{% block title %}Servertypes{% endblock %}

{% block content %}
<h2>Servertypes</h2>

<p>
    <img src="{{ STATIC_URL }}servertype.png" />
</p>

<table>
{% for servertype in servertypes %}
    <tr>
        <td>
            <a href="{% url 'serverdb_view_servertype' servertype.pk %}"
                />{{ servertype }}</a>
        </td>
        <td>{{ servertype.description }}</td>
    </tr>
{% endfor %}
</table>

<p>
    <a href="{% url 'serverdb_add_servertype' %}">Add servertype</a>
</p>
{% endblock %}
