{% extends "base.html" %}

{% block title %}Servertype {{ servertype }}{% endblock %}

{% block content %}
<h2>Servertype {{ servertype }}</h2>

<table>
    <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Multi</th>
        <th>Required</th>
        <th>Validation</th>
        <th>Default</th>
{% if perms.serverdb.change_servertype %}
        <th>Action</th>
{% endif %}
    </tr>
{% for sa in servertype.used_attributes.all %}
    <tr class="{% cycle 'row_a' 'row_b' %}">
        <td>{{ sa.attribute }}</td>
        <td>{{ sa.attribute.type }}</td>
        <td>{{ sa.attribute.multi }}</td>
        <td>{{ sa.required }}</td>
        <td>{{ sa.regexp }}</td>
        <td>{{ sa.default_value }}</td>
{% if perms.serverdb.change_servertype %}
        <td>
            <a href="{% url 'serverdb_edit_servertype_attr' servertype.pk sa.attribute_id %}">edit</a>
            <a href="{% url 'serverdb_delete_servertype_attr' servertype.pk sa.attribute_id %}">delete</a>
        </td>
{% endif %}
    </tr>
{% endfor %}
</table>

{% if perms.serverdb.change_servertype %}
<p>
    <a href="{% url 'serverdb_add_servertype_attr' servertype.pk %}"
        >Add attribute</a>
</p>
{% endif %}

{% if perms.serverdb.delete_servertype %}
<h3>Delete servertype</h3>
<form method="post" action="{% url 'serverdb_delete_servertype' servertype.pk %}">
{% csrf_token %}
<p><label><input type="checkbox" name="confirm" />
 I know that I will kill <strong>ALL</strong> servers which belong
 to this servertype.</label></p>
 <p><input type="submit" value="Delete servertype and servers" /></p>
 </form>
 {% endif %}

{% if perms.serverdb.add_servertype %}
<h3>Copy servertype</h3>
<form method="post" action="{% url 'serverdb_copy_servertype' servertype.pk %}">
{% csrf_token %}
<p>Target servertype: <input type="text" name="name" /> <input type="submit" value="Copy" /></p>
 <p>If the target servertype doesn't exist it will be automatically created.</p>
 </form>
 {% endif %}

{% endblock %}
