{% extends "base.html" %}

{% block title %}IP ranges{% endblock %}

{% block content %}
<h2>IP ranges</h2>

<form method="get" action="">
<p>
<select name="segment">
{% for segment in segments %}
    <option value="{{ segment.segment }}"
    {% if displayed_segment == segment %}selected="selected"{% endif %}
    >{{ segment.segment }}</option>
{% endfor %}
</select>
<input type="submit" value="Show" />
</p>
</form>

<table class="tabular">
    <tr>
        <th>range_id</th>
        <th>type</td>
        <th>start ip</th>
        <th>end ip</th>
        <th>cidr</th>
    </tr>
{% for iprange in ip_ranges %}
    <tr class="{% cycle "row_a" "row_b" %}">
        <td><a href="{% url iprange_details iprange.range_id %}"
        >{{ iprange.range_id }}</a></td>
        <td>{{ iprange.get_ip_type_display }}</td>
        <td>{{ iprange.min }}</td>
        <td>{{ iprange.max }}</td>
        <td>
        {% if iprange.cidr %}
        {{ iprange.cidr }}
        {% else %}
        Not possible
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock content %}
