{% extends "base.html" %}

{% block title %}IP ranges{% endblock %}

{% block content %}
<h2>IP ranges</h2>

<form method="get" action="">
<p>
<select name="segment">
{% for segment in segments %}
    <option value="{{ segment.segment }}"
    {% if displayed_segment == segment %}selected="selected"{% endif %}
    >{{ segment.segment }}</option>
{% endfor %}
</select>
<input type="submit" value="Show" />
</p>
</form>

<table class="tabular">
    <tr>
        <th>range_id {% include "iprange/ordering.html" with field="range_id" %}</th>
        <th>type {% include "iprange/ordering.html" with field="ip_type" %}</td>
        <th>start ip {% include "iprange/ordering.html" with field="min" %}</th>
        <th>end ip {% include "iprange/ordering.html" with field="max" %}</th>
        <th>cidr {% include "iprange/ordering.html" with field="min" %}</th>
        <th>gateway {% include "iprange/ordering.html" with field="gateway" %}</th>
        <th>routes</th>
{% if perms.iprange.change_iprange %}
        <th>edit</th>
{% endif %}
{% if perms.iprange.delete_iprange %}
        <th>delete</th>
{% endif %}
    </tr>
{% for iprange in ip_ranges %}
    <tr class="{% cycle "row_a" "row_b" %}">
        <td><a href="{% url iprange_details iprange.range_id %}"
        >{{ iprange.range_id }}</a></td>
        <td>{{ iprange.get_ip_type_display }}</td>
        <td>{{ iprange.min }}</td>
        <td>{{ iprange.max }}</td>
        <td>
        {% if iprange.cidr %}
        {{ iprange.cidr }}
        {% else %}
        Not possible
        {% endif %}
        </td>
        <td>{{ iprange.gateway }}</td>
        <td><a href="{% url iprange_routes iprange.range_id %}">routes</a></td>
{% if perms.iprange.change_iprange %}
        <td><a href="{% url iprange_edit iprange.range_id %}">edit</a></td>
{% endif %}
{% if perms.iprange.delete_iprange %}
        <td><a href="{% url iprange_delete iprange.range_id %}">delete</a></td>
{% endif %}
    </tr>
{% endfor %}
</table>

{% if perms.iprange.add_iprange %}
<p><a href="{% url iprange_add %}">Add IP range</a></p>
{% endif %}
{% endblock content %}
