{% extends "base.html" %}

{% block title %}IP ranges{% endblock %}

{% block content %}
<h2>IP ranges</h2>

<form method="get" action="">
<p>
<select name="segment">
{% for segment in segments %}
    <option value="{{ segment.segment_id }}"
    {% if displayed_segment == segment %}selected="selected"{% endif %}
    >{{ segment }}</option>
{% endfor %}
</select>
<input type="submit" value="Show" />
</p>
</form>

<table class="tabular">
    <tr>
        <th>range_id {% include "iprange/ordering.html" with field="range_id" %}</th>
        <th>type {% include "iprange/ordering.html" with field="ip_type" %}</td>
        <th>cidr {% include "iprange/ordering.html" with field="min" %}</th>
        <th>default gateway {% include "iprange/ordering.html" with field="gateway" %}</th>
        <th>internal gateway {% include "iprange/ordering.html" with field="internal_gateway" %}</th>
        <th>IPv6 cidr {% include "iprange/ordering.html" with field="min6" %}</th>
        <th>IPv6 default gateway {% include "iprange/ordering.html" with field="gateway6" %}</th>
        <th>IPv6 int gateway {% include "iprange/ordering.html" with field="internal_gateway6" %}</th>
        <th>VLAN {% include "iprange/ordering.html" with field="vlan" %}</th>
		<th>belongs to {% include "iprange/ordering.html" with field="belongs_to__range_id" %}</th>
{% if perms.iprange.change_iprange %}
        <th>edit</th>
{% endif %}
{% if perms.iprange.delete_iprange %}
        <th>delete</th>
{% endif %}
    </tr>
{% for iprange in ip_ranges %}
    <tr class="{% cycle "row_a" "row_b" %}">
        <td><a href="{% url 'iprange_details' iprange.range_id %}"
        >{{ iprange.range_id }}</a></td>
        <td>{{ iprange.get_ip_type_display }}</td>
        <td>
        {% if iprange.cidr %}
        {{ iprange.cidr }}
        {% else %}
        None
        {% endif %}
        </td>
        <td>{{ iprange.gateway }}</td>
        <td>{{ iprange.internal_gateway }}</td>
        <td>
        {% if iprange.cidr6 %}
        {{ iprange.cidr6 }}
        {% else %}
        None
        {% endif %}
        </td>
        <td>{{ iprange.gateway6 }}</td>
        <td>{{ iprange.internal_gateway6 }}</td>
        <td>{{ iprange.vlan }}</td>
		<td>
		{% if iprange.belongs_to %}
        <a href="{% url 'iprange_details' iprange.belongs_to.range_id %}"
        >{{ iprange.belongs_to.range_id }}</a>
		{% else %}
		None
		{% endif %}
		</td>
{% if perms.iprange.change_iprange %}
        <td><a href="{% url 'iprange_edit' iprange.range_id %}">edit</a></td>
{% endif %}
{% if perms.iprange.delete_iprange %}
        <td><a href="{% url 'iprange_delete' iprange.range_id %}">delete</a></td>
{% endif %}
    </tr>
{% endfor %}
</table>

{% if perms.iprange.add_iprange %}
<p><a href="{% url 'iprange_add' %}">Add IP range</a></p>
{% endif %}
{% endblock content %}
