{% extends "base.html" %}

{% block title %}Request exception{% endblock %}

{% block content %}
<h2>Request exception for "{{ app.name }}"</h2>

<form method="post">
{% csrf_token %}
<p>Please fill the following form with care to request an exception.</p>

<h3>Issue</h3>
<p>Describe the issue you are expecting to be fixed with your update.
Explain why this is important.</p>
{{ form.issue }}
{{ form.issue.errors }}

<h3>Changes</h3>
<p>Please list all changes you did and include every commit between the
version on the servers and the version you want to deploy</p>
{{ form.changes }}
{{ form.changes.errors }}

<h3>Testing</h3>
<p><label>{{ form.tested }}I tested my code on the beta servers</label></p>
{{ form.tested.errors }}

<h3>Confirmation</h3>
<p><label>{{ form.carefully }}I filled this form carefully</label></p>
{{ form.carefully.errors }}

<p><input type="submit" value="Request exception"></p>
</form>
{% endblock %}
