# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
/build/
/dist/
/downloads/
/eggs/
/lib/
/lib64/
/sdist/
/var/
/*.egg-info/
/*.egg

# PyInstaller
#
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
/htmlcov/
/.tox/
/.coverage
/.coverage.*
/.cache
/coverage.xml
/*,cover
/.hypothesis/

# Virtual Environment
/.venv/

# Django stuff
*.log
/.env

# Sphinx documentation
/docs/build/

# Static files (runtime)
/packages/serveradmin/serveradmin/_static
/packages/serveradmin/serveradmin/_media

# The settings file
/packages/serveradmin/serveradmin/local_settings.py

# Local docker-compose overlay (e.g. to mount/install a private app bundle)
/docker-compose.override.yml

