[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Most of the dependencies in here are for serveradmin and not actually
# required for adminapi.

# Adminapi:
# Like ipaddress but for MACs
netaddr = "*"

# Serveradmin:
# WSGI server
gunicorn = "*"
# Last version supporting python3.4
Django = "~=1.11.0"
# postgres lib used by django
"psycopg2-binary" = "*"
# Django support for network address fields on PostgreSQL
django-netfields = "*"
# Required to generate sprites from Graphite
Pillow = "*"
# Used to list loaded api addons at /api/functions
# TODO: Drop this dependency
django-markup-deprecated = "*"
# TODO: What is this for?
docutils = "*"

# Serveradmin extras:
paramiko = "*"
jinja2 = "*"
pexpect = "*"

[dev-packages]
# Provides runserver_plus and other gadgets
django-extensions = "*"
# Required for runserver_plus to work
Werkzeug = "*"
# Used to package a single executable according to PEP 441
pex = "*"
# Pex complains without requests
requests = "*"

[requires]
# Version on debian stretch. Newer should work.
python_version = "3.5"

