[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Most of the dependencies in here are for serveradmin and not actually
# required for adminapi.
# Adminapi:
# Like ipaddress but for MACs
netaddr = "<1.0.0"
# Debian stretch version
Django = "~=3.2"
# postgres lib used by django
psycopg2-binary = "<2.9"
# Django support for network address fields on PostgreSQL
django-netfields = "<2.0.0"
# Required to generate sprites from Graphite
Pillow = "~=10.0"
# Required to parse human readable string like "a day ago" to a datetime
dateparser = "~=1.1"
# Use Twelve-factor methodology to configure environment variables
django-environ = "<1.0.0"
django_compressor = "<3.0.0"
# Serveradmin extras:
paramiko = "~=3.4"
pexpect = "<5.0.0"
rich = "*"
typing-extensions = "*"

[dev-packages]
# Used to build the sphinx docs
sphinx = "~=4.3"
sphinx-rtd-theme = "<2.0.0"
# Provides runserver_plus and other gadgets
django-extensions = "<4.0.0"
# Required for runserver_plus to work
Werkzeug = "<4.0.0"
# Used to package a single executable according to PEP 441
pex = "<3.0.0"
# Pex complains without requests
requests = "<3.0.0"
setuptools = "*"
# Generate fake data for tests
faker = "<14.0.0"
tblib = "*"

[requires]
python_version = "3.9"

[production]
sentry-sdk = {version = "*", extras = ["django"]}
