[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Most of the dependencies in here are for serveradmin and not actually
# required for adminapi.

# Adminapi:
# Like ipaddress but for MACs
netaddr = "<1.0.0"

# Debian stretch version
Django = "~=3.2"
# postgres lib used by django
psycopg2-binary = "<2.9"
# Django support for network address fields on PostgreSQL
django-netfields = "<2.0.0"
# Required to generate sprites from Graphite
Pillow = "~=9.1"
# Required to parse human readable string like "a day ago" to a datetime
dateparser = "<1.0.0"
# Use Twelve-factor methodology to configure environment variables
django-environ = "<1.0.0"

django_compressor = "<3.0.0"

# Serveradmin extras:
paramiko = "~=2.10"
jinja2 = "~=2.10"
pexpect = "*"

[dev-packages]
# Used to build the sphinx docs
sphinx = "*"
sphinx-rtd-theme = "*"
# Provides runserver_plus and other gadgets
django-extensions = "*"
# Required for runserver_plus to work
Werkzeug = "*"
# Used to package a single executable according to PEP 441
pex = "*"
# Pex complains without requests
requests = "*"
setuptools = "*"
# Generate fake data for tests
faker = "*"

[requires]
python_version = "3.7"

