django==1.8
django-extensions
py2-ipaddress
docutils
python-memcached
Sphinx
django-netfields>=0.7   # Extension to use network address fields on PostgreSQL
django-markup-deprecated
Pillow  # Required to generate sprites from Graphite
