{% extends "base.html" %}

{% block title %}Colocation{% endblock %}

{% block content %}

<style type="text/css">
	body {
		background-color: #ffffff;
		font-family: Arial, Verdana, sans-serif;
	}

    a.rack {
        color: #FFFFFF;
    }

    td.baserack,
    #space,
    #norack,
    #rack,
    #igrack_normal,
    #igrack_extreme
    {
		border: 1px dotted #000000;
		background-color: #ffffff;
		height: 120px;
        width: 70px;
    }

    #space {
        width: 0px;
        padding: 0px;
        margin: 0px;
		border: none;
    }

    #rack {
		background-color: #a0a0a0;
    }

    #norack {
		border: none;
    }

    #igrack_normal {
		background-color: #059e00;
    }

    #igrack_extreme {
		background-color: #664199;
    }


    td.newrowgroup
    {
        width: 25px;
    }

    td.rowseparator,
    #rowseparator_cold,
    #rowseparator_hot {
        height: 10px;
        border: none;
		background-color: #ffffff;
    }

    #rowseparator_cold {
        background-image: url(/static/duct.gif);
    }

    #rowseparator_hot {
        height: 30px;
    }

    p.hwlist {
        width: inherit;
        font-size: 9px;
        margin: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

</style>

{% for dc_k, dc_v in dcs.items %}
    <h2>{{ dc_k }}</h2>
    <table class="colocation">
        {% for rg in dc_v.rowgroups %}
            <tr class="rowgroup">
                {% for row in rg %}
                    {% for col in row.igcolumns %}
                        {% if row != "_" and col.name != "_" %}
                            <td id="{% if col.ighw > 0 %}igrack_{{col.style}}{%else%}rack{% endif %}">
                                <a class="rack" href="https://serveradmin.innogames.de/servershell/?term=rack%3D{{dc_k}}-{{row.row}}{{col.name}}">
                                <p style="text-align: center; margin-bottom: 0px;">{{row.row}}/{{col.name}}</p>
                                <br>
                                </a>
                                <p class="hwlist">
                                {% if col.static %}{{col.static}}<br><br>{% endif %}
                                {% for hw in col.hw %}
                                {{hw}}<br>
                                {% endfor %}
                               </p>
                           </td>
                        {% else %}
                            <td id="norack">
                            </td>
                        {% endif %}
                        {% if not forloop.last %}
                            <td id="space">
                            </td>
                        {% endif %}
                    {% endfor %}
                    {% if not forloop.last %}
                        <td class="newrowgroup">
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                {% for row in rg %}
                    {% if row.rowseparator and row.row != "_"%}
                        {% if not forloop.first %}
                            <td class="newrowgroup">
                            </td>
                        {% endif %}
                        <td id="rowseparator_{{row.rowseparator}}" colspan={{row.columns|length}}>
                        </td>
                        <td id="rowseparator_{{row.rowseparator}}" colspan={{row.columns|length|add:"-1"}}>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}

{% endblock %}

