{% load common %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css">
    {% block additional_styles %}{% endblock %}

    <title>{% block title %}{% endblock %} &middot; Serveradmin</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}/logo_innogames_bigbulb_120.png" width="30" height="23" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://serveradmin.readthedocs.io/en/latest/">Documentation</a>
        {% for template in MENU_TEMPLATES %}
            {% include template %}
        {% endfor %}
        {% if user.is_staff %}
            <a class="nav-item nav-link" href="{% url 'admin:index' %}">Django Admin</a>
        {% endif %}
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</nav>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ STATIC_URL }}/js/jquery-3.4.1.slim.min.js"></script>
<script src="{{ STATIC_URL }}/js/popper.min.js"></script>
<script src="{{ STATIC_URL }}/js/bootstrap.js"></script>
{% block additional_scripts %}{% endblock %}
</body>
</html>
