<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %} &middot; Serveradmin</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}innogames.css" />
</head>
<body>

<div id="menu">
<div style="text-align: center">
<a href="/"><img src="{{ STATIC_URL }}logo_innogames_bigbulb_120.png" alt="InnoGames" /></a>
</div>

<ul class="menu">

{% if user.is_authenticated %}
<li><a href="{% url admin:index %}">Admin</a></li>
<li><a href="{% url api_list_functions %}">List API functions</a></li>
<li><a href="{% url logout %}">Logout</a></li>
{% else %}
<li><a href="#">Login</a></li>
{% endif %}
	
</ul>

</div>

<div id="content">
{% block content %}
{% endblock content %}
</div>
</body>
</html>
