{% load common %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %} &middot; Serveradmin</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}innogames.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}serveradmin.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui-1.11.4.custom.min.css" />
{% block additional_styles %}
{% endblock %}
<script type="text/javascript" src="{{ STATIC_URL }}json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.11.4.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common.js"></script>
{% block additional_scripts %}
{% endblock %}
</head>
<body>

<div id="menu">
<div style="text-align: center">
<a href="/"><img src="{% logo %}" alt="InnoGames" /></a>
</div>

<ul class="menu">
    <li><a href="https://github.com/innogames/serveradmin/tree/master/docs">Documentation</a></li>
{% if user.is_authenticated %}
    <li><a href="{% url 'servershell_index' %}">Servershell</a></li>
{% for template in MENU_TEMPLATES %}
{% include template %}
{% endfor %}
{% if user.is_staff %}
    <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
{% endif %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
    <li><a href="#">Login</a></li>
{% endif %}
</ul>

</div>

<div id="content">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}
{% endblock content %}
</div>

<div id="spinner">
	<img src="{{ STATIC_URL }}ajax-loader.gif" alt="Loading" />
</div>

{% block additional_body %}
{% endblock %}
</body>
</html>
