{# Usage: {% include "pagination.html" with paginator=obj form=False %} #}

{# Set form parameter to True to make the pagination controls find the #}
{# form it is enclosed and submit it with the page parameter appended. #}

<div class="pagination {% if form %}form{% endif %}">
    <span class="step-links">
        {% if paginator.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ paginator.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
        </span>

        {% if paginator.has_next %}
            <a href="?page={{ paginator.next_page_number }}">next</a>
            <a href="?page={{ paginator.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
