<div class="modal fade" id="modal-help-commands" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Command Syntax</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Available commands</h3>
                <p>
                    The commands which operates on selected server would take
                    the first server on the list, if no servers are selected.
                </p>
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Command</th>
                            <th>Arguments</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody id="help_command">
                        <tr id="cmd-search">
                            <td>search</td>
                            <td>none</td>
                            <td>Focus on the search field</td>
                        </tr>
                        <tr id="cmd-next">
                            <td>next</td>
                            <td>none</td>
                            <td>Go to the next page</td>
                        </tr>
                        <tr id="cmd-prev">
                            <td>prev</td>
                            <td>none</td>
                            <td>Go to the previous page</td>
                        </tr>
                        <tr id="cmd-goto">
                            <td>goto</td>
                            <td>page_number</td>
                            <td>Go to specified page.</td>
                        </tr>
                        <tr id="cmd-perpage">
                            <td>perpage</td>
                            <td>number</td>
                            <td>
                                Show <i>number</i> hosts per page
                                <p>
                                    Example: "<code>perpage 50</code>"
                                </p>
                            </td>
                        </tr>
                        <tr id="cmd-attr">
                            <td>attr</td>
                            <td>attr_name,[&nbsp;...]</td>
                            <td>
                                Show one or more attribute(s) in the server  table
                                <p>
                                    If it is already shown, it will be hidden.
                                    Example:
                                    "<code>attr os,game_function</code>"
                                </p>
                            </td>
                        </tr>
                        <tr id="cmd-bookmark">
                            <td>bookmark</td>
                            <td>bookmark,[...]</td>
                            <td>
                                Save bookmark by name
                                <p>
                                    Save current selection of bookmarks by name.

                                    Example:
                                    "<code>bookmark firewall</code>"
                                </p>
                            </td>
                        </tr>
                        <tr id="cmd-loadbookmark">
                            <td>loadbookmark</td>
                            <td>loadbookmark,[...]</td>
                            <td>
                                Load bookmark
                                <p>
                                    Load selection of attributes with name
                                    saved with bookmark command.

                                    Example:
                                    "<code>loadbookmark firewall</code>"
                                </p>
                            </td>
                        </tr>
                        <tr id="cmd-delbookmark">
                            <td>delbookmark</td>
                            <td>delbookmark,[...]</td>
                            <td>
                                Delete bookmark
                                <p>
                                    Delete bookmark with name.

                                    Example:
                                    "<code>delbookmark firewall</code>"
                                </p>
                            </td>
                        </tr>
                        <tr id="cmd-orderby">
                            <td>orderby</td>
                            <td>attr_name</td>
                            <td>
                                Order the result by given attribute ascending
                                <p>
                                    Order the result by given attribute.
                                    Example:
                                    "<code>orderby game_market</code>".
                                </p>
                            </td>
                        </tr>
                        <tr id="cmd-export">
                            <td>export</td>
                            <td>[attr_name,...]</td>
                            <td>
                                Export objects with given attributes in CSV-like format.<br/>
                                By default, all selected ones are exported.</td>
                        </tr>
                        <tr id="cmd-selectall">
                            <td>selectall</td>
                            <td>none</td>
                            <td>Select all servers on this page</td>
                        </tr>
                        <tr id="cmd-unselectall">
                            <td>unselectall</td>
                            <td>none</td>
                            <td>Unselect all servers on this page</td>
                        </tr>
                        <tr>
                            <td><i>(empty)</i></td>
                            <td>
                                <i>from</i>[-<i>to</i>[,
                                <i>from</i>[-<i>to</i>]]]
                            </td>
                            <td>
                                Select a several servers using a range
                                Examples:
                                <ul>
                                    <li>1: Select first server</li>
                                    <li>1,3,5: Select server 1, 3 and 5</li>
                                    <li>
                                        1,3,6-9: Select server 1, 3, 6, 7, 8
                                        and 9
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr id="cmd-graph">
                            <td>graph</td>
                            <td>none</td>
                            <td>
                                Show available graphs for selected hosts
                            </td>
                        </tr>
                        <tr id="cmd-inspect">
                            <td>inspect</td>
                            <td>none</td>
                            <td>
                                List all attributes of the selected servers
                            </td>
                        </tr>
                        <tr id="cmd-edit">
                            <td>edit</td>
                            <td>none</td>
                            <td>
                                Edit all attributes of the selected servers
                            </td>
                        </tr>
                        <tr id="cmd-setattr">
                            <td>setattr</td>
                            <td>attr_name=attr_value</td>
                            <td>
                                Set an attribute on a server
                                <p>
                                    Example: "setattr os=wheezy"
                                </p>
                            </td>
                        </tr>
                        <tr id="cmd-delattr">
                            <td>delattr</td>
                            <td>attr_name</td>
                            <td>Delete an attribute from a server</td>
                        </tr>
                        <tr id="cmd-multiadd">
                            <td>multiadd</td>
                            <td>attr_name=value1[,value2[,...]]</td>
                            <td>
                                Add values to an multi attribute
                                <p>
                                    Example: "multiadd webserver=nginx,apache"
                                </p>
                            </td>
                        </tr>
                        <tr id="cmd-multidel">
                            <td>multidel</td>
                            <td>attr_name=value1[,value2[,...]</td>
                            <td>Delete values from a multi attribute</td>
                        </tr>
                        <tr id="cmd-delete">
                            <td>delete</td>
                            <td>none</td>
                            <td>
                                Mark all selected servers for deletion
                                (commit to apply)
                            </td>
                        </tr>
                        <tr id="cmd-commit">
                            <td>commit</td>
                            <td>none</td>
                            <td>Commit all pending changes</td>
                        </tr>
                        <tr id="cmd-new">
                            <td>new</td>
                            <td>none</td>
                            <td>Create a new server</td>
                        </tr>
                        <tr id="cmd-clone">
                            <td>clone</td>
                            <td>none</td>
                            <td>Clone the selected server</td>
                        </tr>
                        <tr id="cmd-changes">
                            <td>changes</td>
                            <td>none</td>
                            <td>Show changes to server database</td>
                        </tr>
                        <tr id="cmd-history">
                            <td>history</td>
                            <td>[attribute]
                            <td>
                                Show history of selected host.
                                If attribute is given only changes for attribute are shown.
                            </td>
                        </tr>
                        <tr id="cmd-cancel">
                            <td>cancel</td>
                            <td>none</td>
                            <td>
                                Cancel running requests such as search.
                            </td>
                        </tr>
                        <tr id="cmd-diff">
                            <td>diff</td>
                            <td>[attribute]</td>
                            <td>
                                Show differences of attributes for selected objects.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

