{% extends "base.html" %}

{% block title %}PowerDNS Domains{% endblock %}

{% block content %}
    {% include "powerdns/settings.html" with title='Domains' settings=settings %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Domains</h3>
            {% if num_out_of_sync %}
                <div class="alert alert-secondary">
                        Found {{ num_out_of_sync }} domains not synchronised.
                </div>
            {% endif %}
            <table class="table table-sm table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col">master</th>
                        <th scope="col">type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in domains %}
                        <tr>
                            <td>{{ domain.id }}</td>
                            <td>{{ domain.name }}</td>
                            <td>{{ domain.master|default:"-" }}</td>
                            <td>{{ domain.type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" with page_obj=domains %}
        </div>
    </div>
{% endblock %}
