{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Mapping</h3>
            <div class="alert alert-secondary" role="alert">
                The following servertypes are mapped to PowerDNS domains.
            </div>

            {% for setting in settings %}
            <div style="float: left; margin-right: 10px;">
                <table class="table table-sm table-borderless table-striped table-responsive">
                    <tbody>
                        <tr>
                            <td><b>{{ setting.servertype }}</b></td>
                            <td></td>
                        </tr>
                        {% for name, value in setting.items %}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Domains</h3>
            {% if out_of_sync|length %}
                <div class="alert alert-secondary">
                        Found {{ out_of_sync|length }} domains not synchronised.
                </div>
            {% endif %}
            <table class="table table-sm table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col">master</th>
                        <th scope="col">type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in domains %}
                        <tr>
                            <td>{{ domain.id }}</td>
                            <td>{{ domain.name }}</td>
                            <td>{{ domain.master|default:"-" }}</td>
                            <td>{{ domain.type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" with page_obj=domains %}
        </div>
    </div>
{% endblock %}
