{% extends "base.html" %}

{% block title %}
    Domains
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in domains %}
                    <tr>
                        <td>{{ domain.pk }}</td>
                        <td>{{ domain.name }}</td>
                        <td>{{ domain.type }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "pagination.html" with page=domains %}
        </div>
    </div>
{% endblock %}