<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Mapping</h3>
        <div class="alert alert-secondary" role="alert">
            The following servertypes are mapped to PowerDNS {{ title }}.
        </div>

        {% for setting in settings %}
            <div style="float: left; margin-right: 10px;">
                <table class="table table-sm table-borderless table-striped table-responsive">
                    <tbody>
                    <tr>
                        <td><b>{{ setting.servertype }}</b></td>
                        <td></td>
                    </tr>
                    {% for name, value in setting.items %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
