{% extends base_template %}

{% block title %}Graphs for {{ hostnames|join:", " }}{% endblock %}

{% block content %}
{% if not is_ajax %}
<h2>Graphs for {{ hostnames|join:", " }}</h2>

<p>
    From: and Until: accepts absolute or relative times.  They will be passed
    to Graphite directly.  Graphite uses at(1) compatible time format.
</p>

<form method="get">
    <table>
        <table>
        <tr>
            <th>From:</th>
            <td>
                <input name="from" type="text" value="{{ from }}" />
            </td>
        </tr>

        <tr>
            <th>Until:</th>
            <td>
                <input name="until" type="text" value="{{ until }}" />
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input name="action" type="submit" value="Submit" />
            </td>
        </tr>

{% for hostname in hostnames %}
        <tr>
            <th>Hostname:</th>
            <td>
                <input name="hostname" type="text" value="{{ hostname }}" />
            </td>
        </tr>
{% endfor %}

        <tr>
            <th>Hostname:</th>
            <td>
                <input name="hostname" type="text" value="" />
            </td>
        </tr>

        <tr>
            <td>
                <input name="action" type="submit" value="Add" />
            </td>
            <td></td>
        </tr>
    </table>
</form>
{% endif %}

{% if is_ajax %}
<p>
    <a href="{{ link }}">
        <img src="{{ STATIC_URL }}link.png" alt="Link to this page"
		     title="Link to this page" />
    </a>
</p>
{% endif %}

{% if not is_ajax %}
{% for name, description in graph_descriptions %}
<div id="graph_desc_{{ forloop.counter }}"
     title="Graph description for {{ name }}"
     style="display:none;">{{ description|safe }}</div>
{% endfor %}
{% endif %}

{% for name, graph_column in graph_table %}
<h3>{{ name }}
{% if not is_ajax %}
    <img src="{{ STATIC_URL }}help.png" class="graph_desc_icon"
         data-graphname="{{ forloop.counter }}" />
{% endif %}
</h3>

<table>
    <tr>
{% for column_name, graph in graph_column %}
        <th>
            {{ column_name }}
            <a href="{{ GRAPHITE_URL }}/graphlot/?{{ graph }}">
                <img src="{{ STATIC_URL }}graph_icon.gif"
                     alt="{{ name }} {{ column_name }} Graphlot" />
            </a>
        </th>
{% endfor %}
    </tr>

    <tr>
{% for column_name, graph in graph_column %}
        <td>
            <img src="{{ GRAPHITE_URL }}/render?{{ graph }}&__auth_token={{ token }}"
                 alt="{{ name }} {{ column_name }}"
                 class="graph" />
        </td>
{% endfor %}
    </tr>
</table>
{% endfor %}
{% endblock content %}

{% block additional_body %}

{% if not is_ajax %}
<script type="text/javascript"
        src="{{ STATIC_URL }}servermonitor/servermonitor.js"></script>
{% endif %}

{% endblock additional_body %}
