{% extends base_template %}

{% block title %}Graphs for {{ hostnames|join:", " }}{% endblock %}

{% block content %}
{% if is_ajax %}
<p>
    <a href="{{ link }}">
        <img src="{{ STATIC_URL }}link.png" alt="Link to this page"
		     title="Link to this page" />
    </a>
    <a href="{{ grafana_link }}" target="_blank">
        <img src="{{ STATIC_URL }}grafana.png" alt="Link the grafana detailed dashboard"
             title="Link the grafana detailed dashboard" />
    </a>
</p>
{% else %}
<h2>Graphs for {{ hostnames|join:", " }}</h2>

<table>
    <tr>
        <td>
            <p>
                From: and Until: accepts absolute or relative times.  They will be passed
                to Graphite directly.  Graphite uses at(1) compatible time format.  These
                are a few examples:

                <ul>
                    <li>19:00_20150401</li>
                    <li>-1week</li>
                    <li>1am tomorrow</li>
                </ul>
            </p>

            <form method="get">
                <table>
                    <table>
                    <tr>
                        <th>From:</th>
                        <td>
                            <input name="from" type="text" value="{{ from }}" />
                        </td>
                    </tr>

                    <tr>
                        <th>Until:</th>
                        <td>
                            <input name="until" type="text" value="{{ until }}" />
                        </td>
                    </tr>

{% for hostname in hostnames %}
                    <tr>
                        <th>Hostname:</th>
                        <td>
                            <input name="hostname" type="text" value="{{ hostname }}" />
                        </td>
                    </tr>
{% endfor %}

                    <tr>
                        <th>Hostname:</th>
                        <td>
                            <input name="hostname" type="text" value="" />
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input name="action" type="submit" value="Submit" />
                            <input name="action" type="submit" value="Add" />
                        </td>
                    </tr>
                </table>
            </form>
        </td>
        <td>
            <h4>Table of Contents</h4>

            <ul>
{% for name, graph_column in graph_table %}
                <li>
                    <a href="#{{ name }}">{{ name }}</a>
                </li>
{% endfor %}
            </ul>
        </td>
    </tr>
</table>

{% for name, description in descriptions %}
<div id="graph_desc_{{ forloop.counter }}"
     title="Graph description for {{ name }}"
     style="display:none;">{{ description|safe }}</div>
{% endfor %}
{% endif %}

{% for name, graph_column in graph_table %}
<a name="{{ name }}"></a>

<h3>{{ name }}
{% if not is_ajax %}
    <img src="{{ STATIC_URL }}help.png" class="graph_desc_icon"
         data-graphname="{{ forloop.counter }}" />
{% endif %}
</h3>

<table>
    <tr>
{% for column_name, graph in graph_column %}
        <th>
            {{ column_name }}
        </th>
{% endfor %}
    </tr>

    <tr>
{% for column_name, graph in graph_column %}
        <td>
            <img class="graph"
                 src="{% url 'graphite_graph' %}/render?{{ graph }}"
                 alt="{{ name }} {{ column_name }}" />
        </td>
{% endfor %}
    </tr>
</table>
{% endfor %}
{% endblock content %}

{% block additional_body %}
{% if not is_ajax %}
<script type="text/javascript" src="{{ STATIC_URL }}graphite/graphite.js"></script>
{% endif %}
{% endblock additional_body %}
