{% extends "base.html" %}
{% load url from future %}
{% load serversearch %}
{% load servermonitor %}

{% block title %}Graphite{% endblock %}

{% block content %}
<h2>Graphite</h2>

<form method="get" action="{% url 'servermonitor_index' %}">
<table class="valign-middle">
<tr>
    <td>Search: </td>
    <td>
        <input type="text" size="60"  id="monitor_search" name="term"
            value="{{ search_term }}" />
        <input type="submit" value="Go" />
    </td>
    <td rowspan="2" style="width:4em;">
    </td>
    <td rowspan="2" style="vertical-align:top;">
    <table class="valign-middle">
        <tr>
            <th>Segment</th>
            <td>
            <select id="segment_short">
            <option value="">- all -</option>
            {% for seg in segments %}
                <option value="{{ seg.segment }}">{{ seg.segment }}</option>
            {% endfor %}
            </select>
            </td>
        </tr>
        <tr>
            <th>Servertype</th>
            <td>
            <select id="servertype_short">
            <option value="">- all -</option>
            {% for stype in servertypes %}
                <option value="{{ stype.name }}">{{ stype.name }}</option>
            {% endfor %}
            </select>
            </td>
        </tr>
    </table>
    </td>
</tr>
<tr>
    <td>Understood: </td>
    {% if error %}
    <td><span class="error">{{ error }}</span></td>
    {% else %}
    <td>{{ understood }}</td>
    {% endif %}
</tr>
</table>
</form>

{% if not error %}
<h3>Results</h3>
{% endif %}

{% if not hosts %}
<p>No servers matching your search query.</p>
{% elif not error %}
<table border="1">
    <tr>
        <th>Hardware host</th>
{% for name in graph_names %}
        <th>{{ name }}</th>
{% endfor %}
        <th>Hourly<br />Daily<br />-1 Day</th>
        <th>Hourly<br />Daily</th>
        <th>Disk free</th>
        <th>Mem free</th>
        <th>Guests</th>
    </tr>
{% for hwhost in hosts %}
    <tr>
        <td>
            <p>
                <a href="{% url 'graphite_graph_table' hwhost.hostname %}"
                   >{{ hwhost.hostname }}</a>
            </p>

            <p class="graph_servertype">({{ hwhost.servertype }})</p>
        </td>
{% for offset in graph_offsets %}
        <td><a class="graph_sprite"
            style="background:url({{ STATIC_URL }}empty.png) -{{ offset }}px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-image="{{ hwhost.image }}"></a>
        </td>
{% endfor %}
        <td>{% format_percent hwhost.cpu.hourly 50 100 30 %}
            {% format_percent hwhost.cpu.daily 50 100 30 %}
            {% format_percent hwhost.cpu.yesterday 50 100 30 %}
        </td>
        <td>{% format_percent hwhost.io.hourly 30 100 30 %}
            {% format_percent hwhost.io.daily 30 100 30 %}
        </td>
        <td>{{ hwhost.disk_free|filesizeformat }}</td>
        <td>{{ hwhost.mem_free|filesizeformat }} /
            {% if hwhost.mem_total == None %}
            unknown
            {% else %}
            {{ hwhost.mem_total|filesizeformat }}
            {% endif %}
        </td>
        <td>
{% for guest_host in hwhost.guests %}
        <a href="{% url 'graphite_graph_table' guest_host %}"
           {% if guest_host in matched_servers %}style="color:#d00;"{% endif %}
           >{{ guest_host }}</a>
{% endfor %}
        </td>
    </tr>
{% endfor %}
    <tr>
        <th>Sum</th>
        <td colspan="3"></td>
        <td style="text-align:center;">-</td>
        <td colspan="3"></td>
        <td style="text-align:center;">-</td>
        <td>{{ disk_free_sum|filesizeformat }}</td>
        <td>{{ mem_free_sum|filesizeformat }}/{{ mem_total_sum|filesizeformat }}</td>
        <td></td>
    </tr>
    <tr>
        <th>Average</th>
        <td colspan="3"></td>
        <td>{% format_percent cpu_aggregate.hourly.avg 50 100 30 %}
            {% format_percent cpu_aggregate.daily.avg 50 100 30 %}
            {% format_percent cpu_aggregate.yesterday.avg 50 100 30 %}
        <td colspan="3"></td>
        <td>{% format_percent io_aggregate.hourly.avg 30 100 30 %}
            {% format_percent io_aggregate.daily.avg 30 100 30 %}</td>
        <td>{{ disk_free_avg|filesizeformat }}</td>
        <td>{{ mem_free_avg|filesizeformat}}/{{ mem_total_avg|filesizeformat }}</td>
        <td></td>
    </tr>
</table>
{% endif %} {# else of if not error #}
{% endblock content %}

{% block additional_body %}
<script type="text/javascript" src="{{ STATIC_URL }}servermonitor/servermonitor.js"></script>
<script type="text/javascript">
//<[CDATA[
var monitor_graph_popup_url = '{% url 'servermonitor_graph_popup' %}';
var monitor_reload_url = '{% url 'servermonitor_reload' %}';
$(function() {
    $('.graph_sprite').click(open_graph_popup);
    function update_sprites() {
        var threshold = 300;
        var sprites = $('.graph_sprite[data-image!=""]')
        for(var i = 0; i < sprites.length; i++) {
            var sprite = $(sprites[i]);
            var pos = sprite.offset().top - threshold;
            var height = $(window).scrollTop() + $(window).height();
            if (pos <= height) {
                var image = 'url(' + sprite.attr('data-image') + ')';
                sprite.css('background-image', image);
                sprite.attr('data-image', '');
            } else {
                break;
            }
        }
    }
    function insert_search() {
        var search_input = '';
        var segment = $('#segment_short').val();
        if (segment) {
            search_input += 'segment=' + segment + ' ';
        }
        var stype = $('#servertype_short').val();
        if (stype) {
            search_input += 'servertype=' + stype + ' ';
        }
        $('#monitor_search').val(search_input).focus();
    }
    $('#segment_short').change(insert_search);
    $('#servertype_short').change(insert_search);
    $(window).on('scroll', update_sprites);
    update_sprites();
});
//]]>
</script>
{% serversearch_js 'monitor_search' %}
{% endblock %}
