{% if compare_table|length > 1 %}
<ul id="compareindex">
{% for graph in compare_table %}
    <li><a href="#compare_{{ graph.name }}">{{ graph.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% for graph in compare_table %}
<h3 id="compare_{{ graph.name }}">{{ graph.name }}
{% if compare_table|length > 1 %}
<small><a href="#compareindex">(index)</a></small>
{% endif %}
</h3>
{% if graph.hosts %}
<table>
    <tr>
        <th>Hostname</th>
        <th>Graph</th>
    </tr>
{% for host in graph.hosts %}
    <tr>
        <td>
		<p>{{ host.hostname }}</p>
		<p><a class="link"
			href="javascript:reload_graph('{{ host.hostname|escapejs }}', '{{ graph.name|escapejs }}', $('#cmp_{{ forloop.counter }}'))">(reload)</a></p>
		
		</td>
        <td>
            <img src="{{ host.image }}" alt="{{ graph.name }} on {{
                host.hostname }}" id="cmp_{{ forloop.counter }}" />
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No hosts for this graph.</p>
{% endif %}
{% endfor %}
<script type="text/javascript">
//<![CDATA[
var monitor_reload_url = '{% url servermonitor_reload %}';
//]]>
</script>
