{% extends base_template %}

{% block title %}Graph comparison{% endblock %}

{% block content %}
{% if not is_ajax %}
<h2>Graph comparison</h2>
{% endif %}

{% if is_ajax %}
<p><a href="{{ link }}">
    <img src="{{ STATIC_URL }}link.png" alt="Link to this page" />
</a></p>
{% endif %}

{% if compare_table|length > 1 %}
<ul id="compareindex">
{% for graph in compare_table %}
    <li><a href="#compare_{{ graph.name }}">{{ graph.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

<p>Click on the images to refresh them.</p>
{% for graph in compare_table %}
<h3 id="compare_{{ graph.name }}">{{ graph.name }}
{% if compare_table|length > 1 %}
<small><a href="#compareindex">(index)</a></small>
{% endif %}
</h3>
{% if graph.hosts %}
<table>
{% for host in graph.hosts %}
    <tr>
		<td></td>
        <th>Hourly</th>
        <th>Daily</th>
        <th>Weekly</th>
    </tr>
    <tr>
        <th{% if host.monthly.image or host.yearly.image %} rowspan="3"{% endif %}>
        {{ host.hostname }}
        </th>
        {% include "servermonitor/compare_image.html" with hostname=host.hostname period=host.hourly %}
        {% include "servermonitor/compare_image.html" with hostname=host.hostname period=host.daily %}
        {% include "servermonitor/compare_image.html" with hostname=host.hostname period=host.weekly %}
    </tr>
    {% if host.monthly.image or host.yearly.image %}
    <tr class="cmp-extra">
        <th>Monthly</th>
        <th>Yearly</th>
        <th></th>
    </tr>
    <tr class="cmp-extra">
        {% include "servermonitor/compare_image.html" with hostname=host.hostname period=host.monthly %}
        {% include "servermonitor/compare_image.html" with hostname=host.hostname period=host.monthly %}
		<td></td>
    </tr> 
    {% endif %}
    {% if not forloop.last %}
    <tr>
        <td colspan="4"><hr /></td>
    </tr>
    {% endif %}
{% endfor %}
</table>
{% else %}
<p>No hosts for this graph.</p>
{% endif %}
{% endfor %}
<script type="text/javascript">
//<![CDATA[
var monitor_reload_url = '{% url servermonitor_reload %}';
attach_graph_reload();
//]]>
</script>
{% endblock content %}
