{% extends base_template %}
{% load url from future %}

{% block title %} Custom Graphs for  {{ hostname }}{% endblock %}

{% block content %}
{% if not is_ajax %}
<h2>Graphs for {{ hostname }}</h2>
{% endif %}

<form method="post" action="">
{% csrf_token %}
<table>
{{ form }}
</table>
<p><input type="submit" value="Draw graph" /></p>
</form>


{% if graph_table %}
{% if is_ajax %}
<p><a href="{{ link }}">
    <img src="{{ STATIC_URL }}link.png" alt="Link to this page" 
		title="Link to this page" />
</a></p>
{% endif %}


  <div id="graph_desc" title="Graph Description">
      {% for graph in graph_table %}
        <span id={{ graph.name }} style='visibility:hidden;position:absolute'>{{graph.description }}</span>
      {% endfor %}
  </div>

{% for graph in graph_table %}
<h3>{{ graph.name }}
  <img src="{{ STATIC_URL}}help.png" class="graph_desc_icon" data-graphname={{graph.name}} >
</h3>
{% if graph.general %}
<p><img src="{{ graph.general.image }}" alt="{{ graph.name }}"
    data-hostname="{{ hostname }}" data-graph="{{ graph.general.graph }}"
    class="graph"/>
</p>
{% else %}
<table>
    <tr>
        <th>Custom</th>
    </tr>
{% if graph.custom %}
    <td><img src="{{ graph.custom.image }}" alt="{{ graph.name }} hourly" 
        data-hostname="{{ hostname }}" data-graph="{{ graph.custom.graph }}"
        class="graph" />
        </td>
{% else %}
        <td><div class="graph_not_available">Graph not available</div></td>
{% endif %}

</tr>
</table>
{% endif %}
{% endfor %}
{% endif %}
{% endblock content %}




{% block additional_body %}
{% if not is_ajax %}
<script type="text/javascript" src="{{ STATIC_URL }}servermonitor/servermonitor.js"></script>
{% endif %}
{% endblock additional_body %}
