{% extends base_template %}
{% load url from future %}

{% block title %}Graphs for  {{ hostname }}{% endblock %}

{% block content %}
{% if not is_ajax %}
<h2>Graphs for {{ hostname }}</h2>
{% endif %}

{% if is_ajax %}
<p><a href="{{ link }}">
    <img src="{{ STATIC_URL }}link.png" alt="Link to this page" 
		title="Link to this page" />
</a></p>
{% endif %}


{% for graph in graph_table %}
<div id="graph_desc_{{graph.name}}" title="Graph description for {{ graph.name }}" style="display:none;">
{{graph.description }}
</div>
{% endfor %}

{% for graph in graph_table %}
<h3>{{ graph.name }}
  <img src="{{ STATIC_URL}}help.png" class="graph_desc_icon" data-graphname={{graph.name}} >
<a style="margin-left:1em; font-size:0.8em;"
  href="{% url 'servermonitor_custom_graph' graph.name %}?hostname={{ hostname|urlencode }}"
  >(draw for custom time)</a>
</h3>
{% if graph.general %}
<p><img src="{{ graph.general.image }}" alt="{{ graph.name }}"
    data-hostname="{{ hostname }}" data-graph="{{ graph.general.graph }}"
    class="graph"/>
</p>
{% else %}
<table>
    <tr>
        <th>Hourly</th>
        <th>Daily</th>
        <th>Weekly</th>
    </tr>
    <tr>
{% if graph.hourly %}
        <td><img src="{{ graph.hourly.image }}" alt="{{ graph.name }} hourly" 
        data-hostname="{{ hostname }}" data-graph="{{ graph.hourly.graph }}"
        class="graph" />
        </td>
{% else %}
		<td><div class="graph_not_available">Graph not available</div></td>
{% endif %}
{% if graph.daily %}
        <td><img src="{{ graph.daily.image }}" alt="{{ graph.name }} daily"
        data-hostname="{{ hostname }}" data-graph="{{ graph.daily.graph }}"
        class="graph"/>
        </td>
{% else %}
		<td><div class="graph_not_available">Graph not available</div></td>
{% endif %}
{% if graph.weekly %}
        <td><img src="{{ graph.weekly.image }}" alt="{{ graph.name }} weekly"
        data-hostname="{{ hostname }}" data-graph="{{ graph.weekly.graph }}"
        class="graph"/>
        </td>
{% else %}
		<td><div class="graph_not_available">Graph not available</div></td>
{% endif %}
    </tr>
</table>
{% endif %}
{% endfor %}
{% endblock content %}

{% block additional_body %}
{% if not is_ajax %}
<script type="text/javascript" src="{{ STATIC_URL }}servermonitor/servermonitor.js"></script>
<script type="text/javascript">
//<![CDATA[
var monitor_reload_url = '{% url 'servermonitor_reload' %}';
attach_graph_reload();
//]]>
</script>
{% endif %}
{% endblock additional_body %}
