{% for graph in graph_table %}
<h3>{{ graph.name }}</h3>
{% if graph.general %}
<p><img src="{{ graph.general }}" alt="{{ graph.name }}" /></p>
{% else %}
<table>
    <tr>
        <th>Hourly</th>
        <th>Daily</th>
        <th>Weekly</th>
    </tr>
    <tr>
{% if graph.hourly %}
        <td><img src="{{ graph.hourly }}" alt="{{ graph.name }} hourly" /></td>
{% else %}
		<td><div class="graph_not_available">Graph not available</div></td>
{% endif %}
{% if graph.daily %}
        <td><img src="{{ graph.daily }}" alt="{{ graph.name }} daily" /></td>
{% else %}
		<td><div class="graph_not_available">Graph not available</div></td>
{% endif %}
{% if graph.weekly %}
        <td><img src="{{ graph.weekly }}" alt="{{ graph.name }} weekly" /></td>
{% else %}
		<td><div class="graph_not_available">Graph not available</div></td>
{% endif %}
    </tr>
</table>
{% endif %}
{% endfor %}
