{% extends "base.html" %}

{% block title %}Servermonitor{% endblock %}

{% block content %}
<h2>Servermonitor</h2>

<form method="get" action="{% url servermonitor_index %}">
<table class="valign-middle">
<tr>
    <td>Search: </td>
    <td>
        <input type="text" size="60"  id="monitor_search" name="term"
            value="{{ search_term }}" />
    </td>
</tr>
</table>
</form>

{% if error %}
<p class="error">{{ error }}</p>
{% else %}
<table border="1">
    <tr>
        <th>Hardware host</th>
        <th>Type</th>
        <th>CPU hourly</th>
        <th>CPU daily</th>
        <th>CPU weekly</th>
        <th>Hourly</th>
        <th>Daily</th>
        <th>-1&nbsp;Day</th>
        <th>IO hourly</th>
        <th>IO daily</th>
        <th>IO weekly</th>
        <th>Hourly</th>
        <th>Daily</th>
        <th>Disk&nbsp;free</th>
        <th>Mem&nbsp;free</th>
        <th>Guests</th>
    </tr>
{% for hwhost in hardware_hosts %}
    <tr>
        <td><a href="{% url servermonitor_graph_table %}?hostname={{ hwhost.hostname }}"
			>{{ hwhost.hostname }}</a></td>
        <td>{{ hwhost.servertype }}</td>
        <td><a class="graph_sprite"
            style="background:url({{ hwhost.image }}) 0px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="cpu_dom0-hourly" ></a>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ hwhost.image }}) -120px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="cpu_dom0-daily" ></a>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ hwhost.image }}) -240px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="cpu_dom0-weekly" ></a>
        </td>
        <td>{{ hwhost.cpu.hourly }}&nbsp;%</td>
        <td>{{ hwhost.cpu.daily }}&nbsp;%</td>
        <td>{{ hwhost.cpu.yesterday }}&nbsp;%</td>
        <td><a class="graph_sprite"
            style="background:url({{ hwhost.image }}) -360px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="io3-hourly" ></a>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ hwhost.image }}) -480px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="io3-daily" ></a>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ hwhost.image }}) -600px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="io3-weekly" ></a>
        </td>
        <td>{{ hwhost.io.hourly }}&nbsp;%</td>
        <td>{{ hwhost.io.daily }}&nbsp;%</td>
        <td>{{ hwhost.disk_free|filesizeformat }}</td>
        <td>{{ hwhost.mem_free|filesizeformat }} /
            {% if hwhost.mem_total == None %}
            unknown
            {% else %}
            {{ hwhost.mem_total|filesizeformat }}
            {% endif %}
        </td>
        <td>
{% for guest_host in hwhost.guests %}
        <a href="{% url servermonitor_graph_table %}?hostname={{ guest_host }}"
		>{{ guest_host }}</a>
{% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %} {# else of if not error #}
{% endblock content %}

{% block additional_body %}
<script type="text/javascript" src="{{ STATIC_URL }}servermonitor/servermonitor.js"></script>
<script type="text/javascript">
//<[CDATA[
var monitor_graph_popup_url = '{% url servermonitor_graph_popup %}';
var monitor_reload_url = '{% url servermonitor_reload %}';
$('.graph_sprite').click(function() {
	var sprite = $(this);
	var params = {
		'hostname': sprite.attr('data-hostname'),
		'graph': sprite.attr('data-graph')
	}
	var title = params['graph'] + ' on ' + params['hostname'];
	var query_str = '?' + $.param(params);
	$.get(monitor_graph_popup_url + query_str, function(data) {
		var image = $(data).find('.graph')
		reload_graph(params['hostname'], params['graph'], image, true);
		$('<div title="' + title + '"></div>').append(data).dialog({
			'width': 550
		});
		attach_graph_reload();
	});
});
//]]>
</script>
{% endblock %}
