{% extends "base.html" %}
{% load serversearch %}
{% load servermonitor %}

{% block title %}Servermonitor{% endblock %}

{% block content %}
<h2>Servermonitor</h2>

<form method="get" action="{% url servermonitor_index %}">
<table class="valign-middle">
<tr>
    <td>Search: </td>
    <td>
        <input type="text" size="60"  id="monitor_search" name="term"
            value="{{ search_term }}" />
    </td>
</tr>
<tr>
    <td>Understood: </td>
    {% if error %}
    <td><span class="error">{{ error }}</span></td>
    {% else %}
    <td>{{ understood }}</td>
    {% endif %}
</tr>
</table>
</form>

{% if not error %}
<table border="1">
    <tr>
        <th>Hardware host</th>
        <th>CPU hourly</th>
        <th>CPU daily</th>
        <th>CPU weekly</th>
        <th>Hourly<br />-1&nbsp;Day<br />Daily</th>
        <th>IO hourly</th>
        <th>IO daily</th>
        <th>IO weekly</th>
        <th>Hourly<br />Daily</th>
        <th>Disk&nbsp;free</th>
        <th>Mem&nbsp;free</th>
        <th>Guests</th>
    </tr>
{% for hwhost in hardware_hosts %}
    <tr>
        <td>
            <a href="{% url servermonitor_graph_table %}?hostname={{ hwhost.hostname }}"
            >{{ hwhost.hostname }}</a>
            <p class="graph_servertype">({{ hwhost.servertype }})</p>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ STATIC_URL }}empty.png) 0px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="cpu_dom0-hourly"
            data-image="{{ hwhost.image }}"></a>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ STATIC_URL}}empty.png) -120px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="cpu_dom0-daily"
            data-image="{{ hwhost.image }}"></a>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ STATIC_URL }}empty.png) -240px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="cpu_dom0-weekly"
            data-image="{{ hwhost.image }}"></a>
        </td>
        <td>{% format_percent hwhost.cpu.hourly 50 100 30 %}
            {% format_percent hwhost.cpu.yesterday 50 100 30 %}
            {% format_percent hwhost.cpu.yesterday 50 100 30 %}
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ STATIC_URL }}empty.png) -360px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="io3-hourly"
            data-image="{{ hwhost.image }}"></a>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ STATIC_URL }}empty.png) -480px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="io3-daily"
            data-image="{{ hwhost.image }}"></a>
        </td>
        <td><a class="graph_sprite"
            style="background:url({{ STATIC_URL }}empty.png) -600px 0;"
            data-hostname="{{ hwhost.hostname }}"
            data-graph="io3-weekly"
            data-image="{{ hwhost.image }}"></a>
        </td>
        <td>{% format_percent hwhost.io.hourly 30 100 30 %}
            {% format_percent hwhost.io.daily 30 100 30 %}
        </td>
        <td>{{ hwhost.disk_free|filesizeformat }}</td>
        <td>{{ hwhost.mem_free|filesizeformat }} /
            {% if hwhost.mem_total == None %}
            unknown
            {% else %}
            {{ hwhost.mem_total|filesizeformat }}
            {% endif %}
        </td>
        <td>
{% for guest_host in hwhost.guests %}
        <a href="{% url servermonitor_graph_table %}?hostname={{ guest_host }}"
        >{{ guest_host }}</a>
{% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %} {# else of if not error #}
{% endblock content %}

{% block additional_body %}
<script type="text/javascript" src="{{ STATIC_URL }}servermonitor/servermonitor.js"></script>
<script type="text/javascript">
//<[CDATA[
var monitor_graph_popup_url = '{% url servermonitor_graph_popup %}';
var monitor_reload_url = '{% url servermonitor_reload %}';
$(function() {
    $('.graph_sprite').click(function() {
        var sprite = $(this);
        var params = {
            'hostname': sprite.attr('data-hostname'),
            'graph': sprite.attr('data-graph')
        }
        var title = params['graph'] + ' on ' + params['hostname'];
        var query_str = '?' + $.param(params);
        $.get(monitor_graph_popup_url + query_str, function(data) {
            var image = $(data).find('.graph');
            image.on('load', function() {
                image.off('load');
                reload_graph(params['hostname'], params['graph'], image, true);
            });
            $('<div title="' + title + '"></div>').append(data).dialog({
                'width': 550
            });
            attach_graph_reload();
        });
    });
    function update_sprites() {
        var threshold = 300;
        var sprites = $('.graph_sprite[data-image!=""]')
        for(var i = 0; i < sprites.length; i++) {
            var sprite = $(sprites[i]);
            var pos = sprite.offset().top - threshold;
            var height = $(window).scrollTop() + $(window).height();
            if (pos <= height) {
                var image = 'url(' + sprite.attr('data-image') + ')';
                sprite.css('background-image', image);
                sprite.attr('data-image', '');
            } else {
                break;
            }
        }
    }
    $(window).on('scroll', update_sprites);
    update_sprites();
});
//]]>
</script>
{% serversearch_js 'monitor_search' %}
{% endblock %}
