{% extends base_template %}

{% block title %}Livegraph for {{ hostname }}{% endblock %}

{% block content %}
{% if not is_ajax %}
<h2>Livegraph for {{ hostname }}</h2>
{% endif %}

{% if is_ajax %}
<p><a href="{% url servermonitor_livegraph %}?hostname={{ hostname }}">
    <img src="{{ STATIC_URL }}link.png" alt="Link to this page" 
		title="Link to this page" />
</a></p>
{% endif %}

<h3>Load</h3>
<div id="livegraph_load_{{ server_id }}" style="width:600px; height:200px;"></div>
<h3>Usage</h3>
<div id="livegraph_usage_{{ server_id }}" style="width:600px; height:200px;"></div>
{% endblock %}

{% block additional_body %}
<script type="text/javascript" src="{{ STATIC_URL }}flot/jquery.flot.min.js"></script>
<script type="text/javascript">
//<![CDATA[
var livegraph_url = '{% url servermonitor_livegraph_data %}';
//]]>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}servermonitor/livegraph.js"></script>
<script type="text/javascript">
//<![CDATA[
$(function() {
    start_livegraph('{{ hostname|escapejs }}', {{ server_id }});
})
//]]>
</script>
{% endblock %}
