{% extends "base.html" %}
{% load servermonitor %}
{% load commentlist %}

{% block title %}Segments information{% endblock %}

{% block content %}
<h2>Segments information</h2>

<table class="tabular">
    <tr>
        <th>Segment</th>
        <th>Num servers</th>
        <th>Free RAM</th>
        <th>Total RAM</th>
        <th>Free RAM %</th>
        <th>Daily CPU usage</th>
        {% for bin in bin_list %}
        <th>CPU {{ bin.start }}-{{ bin.stop }}%</th>
        {% endfor %}
        <th>Usage</th>
    </tr>
{% for segment in segments %}
    <tr class="{% cycle 'row_a' 'row_b' %}">
        <td><a href="{% url servermonitor_index %}?term=segment%3D{{ segment.name }}"
        >{{ segment.name }}</td>
{% with info=segment.info %}
        <td>{{ info.num_servers }}</td>
        <td>{{ info.mem_free_sum|filesizeformat }}</td>
        <td>{{ info.mem_total_sum|filesizeformat }}</td>
        <td>{% display_percentage info.mem_free_perc %}</td>
        <td>{% display_percentage info.cpu_usage %}</td>
        {% for num_servers in info.server_hist %}
        <td>{{ num_servers }}</td>
        {% endfor %}
        <td>{{ segment.usage }}</td>
{% endwith %}
</tr>
{% endfor %}
</table>

<h3>Comments</h3>
<form method="post" action="{% url comments_delete %}">
{% csrf_token %}
<input type="hidden" name="return_to" value="{% url servermonitor_segments %}" />
{% commentlist 'segmentinfo' can_delete=perms.comments.delete_comment %}
</form>

<h3>Post a comment</h3>
<form method="post" action="{% url comments_post %}">
{% csrf_token %}
<table>
{{ comment_form }}
</table>
<input type="hidden" name="return_to" value="{% url servermonitor_segments %}" />
<input type="submit" value="Post comment" />
</form>

{% endblock content %}
