{# Only used in modals #}
<div class="content">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control mb-2" id="ip_address" placeholder="Enter manually ...">
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-success mb-2" onclick="submit_ip_address($('#ip_address').val());">Submit</button>
        </div>
    </div>
    {% if servers %}
        <table class="table table-bordered table-sm table-borderless table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Network</th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                <tr onclick="servershell.choose_ip_address('{{ server.intern_ip }}')">
                    <td>{{ server.hostname }}</td>
                    <td>{{ server.intern_ip }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif ip_addrs %}
        <ul>
            {% for ip_addr in ip_addrs %}
                <li onclick="$('input[name=attr_intern_ip]').val('{{ ip_addr }}'); $(this).closest('.modal').modal('hide');">{{ ip_addr }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No free IP addresses are available.</p>
    {% endif %}
</div>
