{% extends base_template %}

{% block title %}Attributes{% endblock %}

{% block content %}
{% if is_ajax %}
<p><a href="{{ link }}">
    <img src="{{ STATIC_URL }}link.png" alt="Link to this page"
        title="Link to this page" />
</a></p>
{% elif object_id %}
<h2>Object {{ object_id }}</h2>
{% else %}
<h2>New Object</h2>
{% endif %}

<form method="post" action="{% url 'servershell_edit' %}{% if object_id %}?object_id={{ object_id }}{% endif %}">
{% csrf_token %}
<table class="border_table" style="width:100%; table-layout:fixed;">
<tr>
    <th style="width:14em;">Attribute</th>
    <th style="width:6em;">Type</th>
    <th style="width:10em;">Regexp</th>
    <th>Value</th>
</tr>
{% for field in fields %}
<tr>
    <td>{{ field.key }}{% if field.required %}*{% endif %}</td>
    <td>{{ field.type }}</td>
    <td>{% if field.regexp %}{{ field.regexp }}{% endif %}</td>
    <td>
    {% if field.multi %}
    <textarea rows="3" cols="40" name="attr_{{ field.key }}"
              {% if field.readonly %} disabled="disabled"{% endif %}
              {% if field.error %} style="border:2px solid #d00"{% endif %}>
{% for val in field.value %}{{ val }}
{% endfor %}
    </textarea>
    <br />Multiple values, one value per row.
    {% else %}
    <input type="text" name="attr_{{ field.key }}"
           value="{% if field.value != None %}{{ field.value }}{% endif %}"
           size="30"
           {% if field.readonly %}disabled="disabled" {% endif %}
           {% if field.error %} style="border:2px solid #d00;"{% endif %} />
    {% if field.key == 'intern_ip' %}
    <a href="javascript:choose_ip_addr($('input[name=\'attr_intern_ip\']'));">Choose IP Address</a>
    {% endif %}
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>
<p><input type="submit" value="Change server" /></p>
<script type="text/javascript">
//<![CDATA[
var servershell_choose_ip_addr_url = "{% url 'servershell_choose_ip_addr' %}";
//]]>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}servershell/choose_ip_addr.js"></script>
</form>
{% endblock %}
