<div class="accordion" id="accordion-attributes">
    {% for attr_group, attribute_list in attribute_groups %}
        <div class="card">
            <div class="card-header" id="{{ attr_group }}-header">
                 <h2 class="mb-0">
                     <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ attr_group }}" aria-expanded="true" aria-controls="{{ attr_group }}">
                        {{ attr_group }}
                     </button>
                 </h2>
            </div>

            <div id="{{ attr_group }}" class="collapse show" data-parent="#accordion-attributes" aria-labelledby="#{{ attr_group }}-header">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for attr in attribute_list %}
                            <li class="list-group-item" data-attr="{{ attr.attribute_id }}" data-attr-type="{{ attr.type }}" data-attr-multi="{{ attr.multi }}">
                                <input id="{{ attr.attribute_id }}" type="checkbox" name="attr" value="{{ attr.attribute_id }}" {% if attr.attribute_id in checked_attributes %}checked="checked" {% endif %}/>
                                <label for="{{ attr.attribute_id }}">{{ attr }}</label>
                                {% if attr.hovertext %}
                                    <a class="attr-tooltip" href="{{ attr.help_link }}" title="{{ attr.hovertext }}">?</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% block additional_styles %}
<style>
    #accordion-attributes .card-header {
        padding: 0;
    }

    #accordion-attributes .card-body {
        padding: 0.5rem;
    }

    #accordion-attributes .list-group-item {
        padding: 0;
    }

    #accordion-attributes .list-group-item input {
        margin-left: 1rem;
    }

    #accordion-attributes .list-group-item label {
        margin-bottom: 0;
    }
</style>
{% endblock %}