{% extends "base.html" %}
{% load serversearch %}
{% block title %}Servershell{% endblock %}

{% block content %}
<h2>Servershell</h2>

<table class="valign-middle">
<tr>
    <td>Search: </td>
    <td>
        <form method="post" action="" id="shell_search_form">
        <input type="text" size="60"  id="shell_search" value="{{ search_term }}" />
        </form>
    </td>
	<td>
		<a href="?term=" id="shell_search_link">
			<img src="{{ STATIC_URL }}link.png" alt="Link to this search" 
				title="Link to this search" />
		</a>
	{% comment %}
		<img src="{{ STATIC_URL}}bookmarked.png" id="shell_bookmarked" />
		<img src="{{ STATIC_URL}}notbookmarked.png" id="shell_notbookmarked" />
	{% endcomment %}
	</td>
</tr>
<tr id="shell_understood_container">
    <td>Understood: </td>
    <td colspan="2" id="shell_understood">Nothing yet.</td>
</tr>
<tr id="shell_command_container">
    <td>Command: </td>
    <td>
        <form method="post" action="javascript:return false;" id="shell_command_form">
        <input type="text" size="60"  id="shell_command" />
        </form>
    </td>
	<td>
		<img src="{{ STATIC_URL}}help.png" id="shell_command_help_icon" class="help_icon" />
	</td>
</tr>
</table>

<div id="shell_servers"></div>

<div id="shell_attributes">
	<h3>Attributes</h3>
    <ul>
    {% for attr in attribute_list %}
        <li>{{ attr }}
    {% endfor %}
    </ul>
</div>

<div id="shell_search_help" title="Search help"></div>
<div id="shell_command_help" title="Command help">
<table>
	<tr>
		<th>Command</th>
		<th>Arguments</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>search</td>
		<td><span class="noargs">none</span></td>
		<td>Focus search field</td>
	</tr>
	<tr>
		<td>next</td>
		<td><span class="noargs">none</span></td>
		<td>Go the the next page.</td>
	</tr>
	<tr>
		<td>prev</td>
		<td><span class="noargs">none</span></td>
		<td>Go the the previous page.</td>
	</tr>
	<tr>
		<td>goto</td>
		<td>page_number</td>
		<td>Goto specified page.</td>
	</tr>
	<tr>
		<td>perpage</td>
		<td>number</td>
		<td>Show <i>number</i> hosts per page. Example: "<code>perpage 50</code>"</td>
	</tr>
	<tr>
		<td>attr</td>
		<td>attribute_name[&nbsp;...]</td>
		<td>Show one or more attribute(s) in the server table. If it is already
            shown, it will be hidden. The attribute "all_ips" is a virtual one
			- it can't be used here. Example: "<code>attr os game_function</code>".
		</td>
	</tr>
	<tr>
		<td>orderby</td>
		<td>attribute_name[&nbsp;asc|desc]</td>
		<td>Order the result by given attribute. This can be either ascending
			(asc) or descanding (desc). Multi attributes will be ordered in a
			special way: If no filtering is used, it orders by the minimum
			value on ascending and maximum on descending. If filtering is used,
			it takes the minimum/maximum value <em>which matches the filter</em>.
			Example: "<code>orderby game_market asc</code>".
		</td>
	</tr>
	<tr>
		<td>export</td>
		<td><span class="noargs">none</span></td>
		<td>Export servers as list of hostnames. This will open a dialog with
		a textbox containing the hostnames separated by spaces.
		</td>
	</tr>
	<tr>
		<td>graph</td>
		<td><span class="noargs">none</span></td>
		<td>Show available servermonitor graphs for selected hosts. If no host
		is selected, it will show graphs for the first host in the list.
		</td>
	</tr> 
</table>
</div>

{% endblock %}

{% block additional_body %}
{% serversearch_js 'shell_search' %}
<script type="text/javascript">
//<![CDATA[
var shell_results_url = "{% url servershell_results %}";
var shell_export_url = "{% url servershell_export %}";
var shell_list_url = "{% url servershell_list %}";
var shell_compare_url = "{% url servermonitor_compare %}";
var shell_graph_url = "{% url servermonitor_graph_table %}";
var monitor_reload_url = "{% url servermonitor_reload %}";
//]]>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}servershell/common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}servershell/servershell.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}servermonitor/servermonitor.js"></script>
{% endblock %}
