{% extends "base.html" %}
{% block title %}Servershell{% endblock %}

{% block content %}
<h2>Servershell</h2>

<table class="valign-middle">
<tr>
    <td>Search: </td>
    <td>
        <form method="post" action="" id="shell_search_form">
        <input type="text" size="60"  id="shell_search" />
        </form>
    </td>
	<td>
	{% comment %}
		<img src="{{ STATIC_URL}}bookmarked.png" id="shell_bookmarked" />
		<img src="{{ STATIC_URL}}notbookmarked.png" id="shell_notbookmarked" />
	{% endcomment %}
	</td>
</tr>
<tr id="shell_understood_container">
    <td>Understood: </td>
    <td colspan="2" id="shell_understood">Nothing yet.</td>
</tr>
<tr id="shell_command_container">
    <td>Command: </td>
    <td>
        <form method="post" action="javascript:return false;" id="shell_command_form">
        <input type="text" size="60"  id="shell_command" />
        </form>
    </td>
	<td></td>
</tr>
</table>

<div id="shell_servers"></div>

<div id="shell_attributes">
	<h3>Attributes</h3>
    <ul>
    {% for attr in attribute_list %}
        <li>{{ attr }}
    {% endfor %}
    </ul>
</div>

{% endblock %}

{% block additional_body %}
<script type="text/javascript">
//<![CDATA[
var shell_autocomplete_url = "{% url servershell_autocomplete %}";
var shell_results_url = "{% url servershell_results %}";
var available_attributes = {{ attributes_json|safe }};
var filter_functions = {{ filters_json|safe }};
//]]>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}servershell.js"></script>
{% endblock %}
