{% extends "base.html" %}
{% load serversearch %}
{% block title %}
    Servershell
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/states.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/servershell.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.min.css">
{% endblock %}

{% block content %}
    <!-- Servershell JS alerts -->
    <div id="alerts">
        <div id="alert-template" class="alert" style="display: none;">
            <strong class="alert-text"></strong>
            <button type="button" class="close" onclick="$(this).parent('div.alert').remove();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <!-- The Servershell Search -->
    <div class="form-group row input-controls">
        <label for="term" class="col-sm-1 col-form-label">Search:</label>
        <div class="col-sm-8">
            <form method="post" action="{% url 'servershell_results' %}" id="search_form" autocomplete="off">
                {% csrf_token %}
                <input tabindex="1" class="form-control form-control-sm autocomplete" type="text" id="term" data-servershell-property-bind="term" data-servershell-autocomplete-url="{% url 'servershell_autocomplete' %}" />
            </form>
        </div>
        <div class="col-sm-3">
            <img src="{{ STATIC_URL }}icons/question.svg" alt="How to search" data-toggle="modal" data-target="#modal-help-search"/>
            <button id="search-options-button" class="btn btn-sm btn-light" data-toggle="collapse" data-target="#search-options">Shortcuts & Options</button>
        </div>
    </div>
    <div class="form-group row input-controls">
        <label for="command" class="col-sm-1 col-form-label">Command:</label>
        <div class="col-sm-8">
            <form method="post" id="command_form" autocomplete="off">
                <input tabindex="2" class="form-control form-control-sm autocomplete" type="text" size="60"  id="command" data-servershell-property-bind="command" />
            </form>
            <!-- Advanced search options (hidden by default) -->
            <div class="collapse" id="search-options">
                <div class="card card-body">
                    <b>Your search settings are bound to your user and persistent.</b>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="autocomplete" {% if search_settings.autocomplete %}checked="checked"{% endif %} onchange="this.checked ? $('.autocomplete').autocomplete('enable') : $('.autocomplete').autocomplete('disable');">
                        <label class="form-check-label" for="autocomplete">Autocomplete for Search & Command</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="autoselect" {% if search_settings.autoselect %}checked="checked{% endif %}" onchange="$('.autocomplete').autocomplete('option', 'autoFocus', this.checked);">
                        <label class="form-check-label" for="autoselect">Automatically select 1st element from autocomplete</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save_attributes" {% if search_settings.save_attributes %}checked="checked{% endif %}">
                        <label class="form-check-label" for="save_attributes">Save selection of shown attributes for future searches</label>
                    </div>
                    <div class="form-check">
                        <input type="number" class="form-input" id="autocomplete_delay_search" value="{{ search_settings.autocomplete_delay_search }}" min="50" onchange="$('#term').autocomplete('option', 'delay', this.value);">
                        <label class="form-input-label" for="autocomplete_delay_search">Delay in milliseconds before auto completion for searches kicks in.</label>
                    </div>
                    <div class="form-check">
                        <input type="number" class="form-input" id="autocomplete_delay_commands" value="{{ search_settings.autocomplete_delay_commands }}" onchange="$('#command').autocomplete('option', 'delay', this.value);">
                        <label class="form-input-label" for="autocomplete_delay_commands">Delay in milliseconds before auto completion for commands kicks in.</label>
                    </div>
                    <hr>
                    <b>Keyboard Shortcuts</b>
                    <ul>
                        <li><kbd>TAB</kbd> Goto next input</li>
                        <li><kbd>SHIFT + TAB</kbd> Goto previous input</li>
                        <li><kbd>ESC</kbd> Close focus from input</li>
                        <li><kbd>ESC</kbd> Close auto completion</li>
                        <li><kbd>CTRL + &#8592;</kbd> Jump a word backward</li>
                        <li><kbd>CTRL + &#8594;</kbd> Jump a word forward</li>
                        <li><kbd>ALT + BACKSPACE</kbd> Delete one word (reverse)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="{{ STATIC_URL }}icons/question.svg" alt="Show supported commands" data-toggle="modal" data-target="#modal-help-commands"/>
        </div>
    </div>
    <div class="form-group row input-controls">
        <label for="understood" class="col-sm-1 col-form-label">Understood:</label>
        <div class="col-sm-8">
            <input class="form-control form-control-sm" type="text" readonly="readonly" id="understood" data-servershell-property-bind="understood" />
        </div>
        <div class="col-sm-3">
            <a id="search_link" onclick="window.location.href=servershell.href;">
                <img src="{{ STATIC_URL }}icons/bookmark.svg" alt="Open current search in new tab"/>
            </a>
        </div>
    </div>

    <hr/>

    <!-- The Servershell Attributes Selection -->
    {# Do not move! CSS relative to top row #}
    <div id="attributes-row">
        <div id="attributes-container">
            <div class="accordion" id="accordion-attributes">
                <div class="card">
                    <div class="card-header">
                        <b>Attributes</b>
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" aria-expanded="false" data-target="#accordion-attributes-body" onclick="servershell.save_hidden_attrlist(this)"></button>
                    </div>
                    <div id="accordion-attributes-body" class="component collapsed collapse" data-parent="#accordion-attributes">
                        <div id="attributes" class="card-body">
                            <b>Legend:</b><br>
                            <span class="attribute-indicator">
                                <b>R</b> Relation<br>
                                <b>Я</b> Reverse<br>
                                <b>S</b> String<br>
                                <b>B</b> Boolean<br>
                                <b>N</b> Number<br>
                                <b>[]</b> Multi Attribute<br>
                            </span>
                            {% regroup attributes by group as group_list %}
                            {% for group in group_list %}
                                <ul class="list-group list-group-flush">
                                    <b>{{ group.grouper }}</b>
                                    {% for attribute in group.list %}
                                        <li class="list-group-item">
                                            <span class="attribute-indicator">
                                                <b>{% if attribute.multi %}[{% endif %}{% if attribute.type == 'reverse' %}Я{% elif attribute.type == 'relation' %}R{% else %}{{ attribute.type|first|upper }}{% endif %}{% if attribute.multi %}]{% endif %}</b>
                                            </span>
                                            <input type="checkbox" id="{{ attribute.attribute_id }}" data-servershell-attribute="{{ attribute.attribute_id }}" />
                                            <label for="{{ attribute.attribute_id }}">{{ attribute.attribute_id }}</label>
                                            {% if attribute.hovertext %}
                                                <a class="attr-tooltip" href="{{ attribute.help_link }}" title="{{ attribute.hovertext }}">?</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Servershell Results -->
    <div class="row">
        <div class="col-md-12">
            <div id="result_div">
                <span class="result_info">
                    <!-- Managed by Servershell Results -->
                </span>
                <span>
                    <a href="#" onclick="servershell.commands.prev();"><< Prev </a>
                    <a href="#" onclick="servershell.commands.next();">Next >></a>
                </span>
                <table id="result_table" class="table table-sm table-borderless table-striped table-responsive">
                    <thead>
                        <tr>
                            <!-- Managed by Servershell Results -->
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <span class="result_info">
                    <!-- Managed by Servershell Results -->
                </span>
                <span>
                    <a href="#" onclick="servershell.commands.prev();"><< Prev </a>
                    <a href="#" onclick="servershell.commands.next();">Next >></a>
                </span>
            </div>
        </div>
    </div>

    <!-- The help for the modals in the Servershell -->
    {% include "servershell/modals/help_search.html" %}
    {% include "servershell/modals/help_command.html" %}
    <!-- The modals for editing and other commands -->
    {# We can probably make one general modal template out of these #}
    {% include "servershell/modals/export.html" %}
{% endblock %}

{% block additional_scripts %}
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/servershell.js"></script>
<script src="{{ STATIC_URL }}js/servershell/attributes.js"></script>
<script src="{{ STATIC_URL }}js/servershell/search.js"></script>
<script src="{{ STATIC_URL }}js/servershell/result.js"></script>
<script src="{{ STATIC_URL }}js/servershell/command.js"></script>
<script src="{{ STATIC_URL }}js/servershell/validate.js"></script>
<script src="{{ STATIC_URL }}js/servershell/choose_ip_address.js"></script>
<script src="{{ STATIC_URL }}js/servershell/autocomplete/search.js"></script>
<script src="{{ STATIC_URL }}js/servershell/autocomplete/command.js"></script>
<script>
    $(document).ready(function() {
        // We want to allow the user to abort some queries such as search
        servershell._ajax = null;

        // Initialize servershell object properties with initial values
        // from backend. This allows us setting defaults from backend.
        servershell.term = "{{ term|escapejs }}";
        servershell._term = "{{ term|escapejs }}";
        servershell.command = "";
        servershell.understood = "";
        servershell.attributes = {% autoescape off %}{{ attributes|json }}{% endautoescape %};
        servershell.offset = {{ offset }};
        servershell.limit = {{ limit }};
        servershell.order_by = "{{ order_by }}";
        servershell.filters = {% autoescape off %}{{ filters|json }}{% endautoescape %};
        servershell.deep_link = {% autoescape off %}{{ deep_link|json }}{% endautoescape %};
        // Changing this property triggers a search ...
        servershell.shown_attributes = {% autoescape off %}{{ shown_attributes|json }}{% endautoescape %};
        servershell.to_commit = {deleted: [], changes: {}};

        // We define the URLs once here so that we can render them with
        // template engine from the backend and can access them everywhere
        servershell.urls = {
            choose_ip_address: "{% url 'servershell_choose_ip_addr' %}",
            inspect: "{% url 'servershell_inspect' %}",
            edit: "{% url 'servershell_edit' %}",
            graphite: "{% url 'graphite_graph_table' %}",
            new: "{% url 'servershell_new' %}",
            clone: "{% url 'servershell_clone' %}",
            changes: "{% url 'serverdb_changes' %}",
            commit: "{% url 'servershell_commit' %}",
            history: "{% url 'serverdb_history' %}",
            settings: "{% url 'servershell_save_settings' %}",
            diff: "{% url 'servershell_diff' %}",
        };

        servershell.search_settings = {% autoescape off %}{{ search_settings|json }}{% endautoescape %};
        servershell.sync_attrlist_visibility();
    });
</script>
{% endblock %}
