{% extends base_template %}

{% block title %}Attributes of object {{ object_id }}{% endblock %}

{% block content %}
{% if is_ajax %}
<p><a href="{{ link }}">
    <img src="{{ STATIC_URL }}link.png" alt="Link to this page"
        title="Link to this page" />
</a></p>
{% else %}
<h2>Object {{ object_id }}</h2>
{% endif %}

<table class="border_table" style="width:100%; table-layout:fixed;">
<tr>
    <th style="width:15em;">Attribute</th>
    <th>Value</th>
</tr>
{% for field in fields %}
<tr>
    <td>{{ field.key }}</td>
    <td>
    {% if field.multi %}
    {% if field.value %}
    <ul class="multi_attr_list">
    {% for val in field.value %}
        <li>{{ val }}</li>
    {% endfor %}
    </ul>
    {% else %}
    <i>Empty set</i>
    {% endif %}
    {% else %}
    {% if field.value|length > 100 %}
    <div style="overflow:auto;">{{ field.value }}</div>
    {% elif field.value != None %}
    {{ field.value }}
    {% endif %}
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>
<p><a href="{% url 'servershell_edit' %}?object_id={{ object_id }}">Edit</a></p>
{% endblock %}
