{% extends "base.html" %}

{% block title %}
    Inspect {{ object_id }}
{% endblock %}

{% block content %}
<div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>
            Inspect {{ object_id }}
            <small class="text-muted">(Use bottom button for editing)</small>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered table-sm table-borderless table-striped table-flex">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                    <th>Type</th>
                    <th>Regexp</th>
                </tr>
            </thead>
            <tbody>
                {% for field in fields %}
                <tr>
                    <td>{{ field.key }}</td>
                    <td>
                        {% if not field.value %}
                            Empty
                        {% else %}
                            {% if field.multi %}
                                <ul>
                                    {% for val in field.value %}
                                        <li>{{ val }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ field.value }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ field.type }}</td>
                    <td>
                        {% if field.regexp %}
                            {{ field.regexp_display }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <a class="btn btn-success" href="{% url 'servershell_edit' %}?object_id={{ object_id }}">Edit</a>
        <a href="{% url 'servershell_index' %}" class="btn btn-success">Goto Servershell</a>
    </div>
</div>
</div>
{% endblock %}