{% extends base_template %}

{% block title %}Create server{% endblock %}

{% block content %}
{% if not is_ajax %}
<h2>New server</h2>
{% endif %}
<form method="post" action="{% url 'servershell_new' %}">
{% csrf_token %}
{% if clone_from %}
<input type="hidden" name="clone_from" value="{{ clone_from.hostname }}" />
{% endif %}
<table>
{% for field in form %}
	<tr>
		<th>{{ field.label_tag }}</th>
		<td>{{ field }}
        {% if field.name == 'intern_ip' %}
            <a href="javascript:choose_ip_addr($('#id_intern_ip'));">Choose IP Address</a>
        {% endif %}
		</td>
	</tr>
    {{ field.errors }}
{% endfor %}
</table>
{{ form.non_field_errors }}
<p><input type="submit" value="Create" /></p>
<script type="text/javascript">
//<![CDATA[
var servershell_choose_ip_addr_url = "{% url 'servershell_choose_ip_addr' %}";
//]]>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}servershell/choose_ip_addr.js"></script>
{% endblock %}
