{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Login simulation &middot; InnoGames</title>
<style type="text/css">
body {
	background:#555;
}

#content {
	margin:0 auto;
	width:40em;
	border:5px solid #2e5d23;
	font-family:sans-serif;
	text-align:center;
	background:#ddd;
}

#login {
	background:#fff;
	margin:2em auto;
	width:20em;
	padding:1em;
	text-align:center;
	border:2px solid #2e5d23;
}

h1 span.inno {
	color:#5f9e45;
}

h1 span.games {
	color:#2e5d23;
}

.errorlist {
	list-style-type:none;
	padding:0;
}

.errorlist li {
	color:#d00;
	font-weight:bold;
}
</style>
</head>
<body>
<div id="content">
<h1><span class="inno">Inno</span><span class="games">Games</span></h1>
<h2>Login simulation</h2>
<p>Please enter your username and password in order to login.</p>
<div id="login">
<form method="post" action="{% url 'igrestlogin_django_user' %}">
{% csrf_token %}
<table>
{{ login_form }}
</table>
<input type="submit" value="Login" />
</form>
</div>
</body>
</html>
